@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Regular.woff") format("woff"), 
       url("../fonts/Roboto-Regular.ttf")  format("truetype"),
       url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Light.woff") format("woff"), 
       url("../fonts/Roboto-Light.ttf")  format("truetype"),
       url("../fonts/Roboto-Light.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Bold.woff") format("woff"), 
       url("../fonts/Roboto-Bold.ttf")  format("truetype"),
       url("../fonts/Roboto-Bold.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Italic.woff") format("woff"), 
       url("../fonts/Roboto-Italic.ttf")  format("truetype"),
       url("../fonts/Roboto-Italic.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Thin.woff") format("woff"), 
       url("../fonts/Roboto-Thin.ttf")  format("truetype"),
       url("../fonts/Roboto-Thin.svg#svgFontName") format("svg");
}