#s-0b71751b-f89b-4cf3-be7f-38ede40b914e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Image_2 {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 1501px;
  height: 817px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_1 {
  position: absolute;
  top: 339px;
  left: 641px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_1 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_2 {
  position: absolute;
  top: 379px;
  left: 641px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_2 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_2 {
  position: absolute;
  top: 419px;
  left: 714px;
  width: 66px;
  height: 22px;
  background-color: #794A7B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_3 {
  position: absolute;
  top: 471px;
  left: 645px;
  padding-left: 5px;
  width: 192px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Input_3 input {
  color: #F3F3F3;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_3 {
  position: absolute;
  top: 522px;
  left: 686px;
  width: 125px;
  height: 22px;
  background-color: #794A7B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_4 {
  position: absolute;
  top: 563px;
  left: 686px;
  width: 125px;
  height: 22px;
  background-color: #794A7B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}