#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b71751b-f89b-4cf3-be7f-38ede40b914e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}