#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 173px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 172px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_197 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Table_6 {
  border-collapse: separate;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 129px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 131px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 129px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_193 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 129px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Table_5 {
  border-collapse: separate;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_16 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_128 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_129 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_130 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_131 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_132 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_133 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_134 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_135 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_136 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_137 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_14 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_125 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_12 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_117 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_141 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}