#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b #s-Text_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0f92d7ee-bc84-4a0e-a625-378331c65f7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}