#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_6 {
  position: absolute;
  top: 28px;
  left: 57px;
  width: 253px;
  height: 66px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_75 {
  position: absolute;
  top: 40px;
  left: 61px;
  width: 195px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_75 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_2 {
  position: absolute;
  top: 227px;
  left: 151px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_2 {
  position: absolute;
  top: 383px;
  left: 197px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_3 {
  position: absolute;
  top: 227px;
  left: 376px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_3 {
  position: absolute;
  top: 383px;
  left: 410px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_4 {
  position: absolute;
  top: 227px;
  left: 601px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_4 {
  position: absolute;
  top: 383px;
  left: 608px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_5 {
  position: absolute;
  top: 122px;
  left: 1194px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_6 {
  position: absolute;
  top: 500px;
  left: 152px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_6 {
  position: absolute;
  top: 657px;
  left: 166px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_7 {
  position: absolute;
  top: 501px;
  left: 604px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_7 {
  position: absolute;
  top: 657px;
  left: 612px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_8 {
  position: absolute;
  top: 501px;
  left: 830px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_8 {
  position: absolute;
  top: 657px;
  left: 835px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_9 {
  position: absolute;
  top: 501px;
  left: 378px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_9 {
  position: absolute;
  top: 657px;
  left: 378px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_10 {
  position: absolute;
  top: 121px;
  left: 1232px;
  padding-right: 5px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: #FC3768;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_5 {
  position: absolute;
  top: 184px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_11 {
  position: absolute;
  top: 459px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.000001pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.000001pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.000001pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_10 {
  position: absolute;
  top: 499px;
  left: 1040px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_13 {
  position: absolute;
  top: 655px;
  left: 1044px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_11 {
  position: absolute;
  top: 227px;
  left: 850px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_14 {
  position: absolute;
  top: 383px;
  left: 855px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_14 span#rtr-s-Text_14_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_15 {
  position: absolute;
  top: 184px;
  left: 855px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_15 span#rtr-s-Text_15_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_12 {
  position: absolute;
  top: 227px;
  left: 1071px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_16 {
  position: absolute;
  top: 383px;
  left: 1102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1277px;
  height: 796px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.77;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_10 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 245px;
  left: 499px;
  display: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Panel_2 {
  width: 382px;
  height: 137px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 381px;
  height: 136px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_17 {
  position: absolute;
  top: 17px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Category_2 {
  position: absolute;
  top: 60px;
  left: 101px;
  width: 180px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Category_2 .valign {
  width: 162px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Button_3 {
  position: absolute;
  top: 94px;
  left: 112px;
  width: 152px;
  height: 26px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_13 {
  position: absolute;
  top: 122px;
  left: 1125px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_14 {
  position: absolute;
  top: 122px;
  left: 1060px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_15 {
  position: absolute;
  top: 122px;
  left: 995px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_12 {
  position: absolute;
  top: 120px;
  left: 1156px;
  padding-right: 5px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: #FC3768;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_18 {
  position: absolute;
  top: 120px;
  left: 1025px;
  padding-right: 5px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: #FC3768;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}