#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77) ;
  filter: alpha(opacity=77) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-16892c0b-c777-421f-96bd-ca6f5e8bdcb8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}