#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=41) ;
  filter: alpha(opacity=41) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a16dc39-46af-4ecc-ab3f-98983f472e42 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}