#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-checkbox-on-light_8 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_109 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}