#s-24b9e92b-5471-41a8-93ba-a93c791c1486 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 1px;
  width: 1280px;
  height: 76px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1135px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_5 {
  position: absolute;
  top: 134px;
  left: 30px;
  width: 486px;
  height: 434px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_3 {
  position: absolute;
  top: 118px;
  left: 49px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_4 {
  position: absolute;
  top: 604px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_2 {
  position: absolute;
  top: 629px;
  left: 51px;
  width: 128px;
  height: 128px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_6 {
  position: absolute;
  top: 629px;
  left: 209px;
  width: 128px;
  height: 128px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_5 {
  position: absolute;
  top: 757px;
  left: 65px;
  width: 107px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_6 {
  position: absolute;
  top: 758px;
  left: 226px;
  width: 101px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Line_1 {
  position: absolute;
  top: 592px;
  left: 43px;
  width: 1205px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 249px;
  left: 725px;
  display: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_6 {
  width: 315px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_48 {
  position: absolute;
  top: 4px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_49 {
  position: absolute;
  top: 30px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_49 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_6 {
  position: absolute;
  top: 2px;
  left: 83px;
  width: 65px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_6 .valign {
  width: 47px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_7 {
  position: absolute;
  top: 2px;
  left: 155px;
  width: 64px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_7 .valign {
  width: 46px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_8 {
  position: absolute;
  top: 2px;
  left: 226px;
  width: 64px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_8 .valign {
  width: 46px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_9 {
  position: absolute;
  top: 26px;
  left: 83px;
  width: 81px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_9 .valign {
  width: 63px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_55 {
  position: absolute;
  top: 147px;
  left: 619px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_55 span#rtr-s-Text_55_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_63 {
  position: absolute;
  top: 147px;
  left: 728px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_63 span#rtr-s-Text_63_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_65 {
  position: absolute;
  top: 176px;
  left: 619px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_65 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_65 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_65 span#rtr-s-Text_65_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_67 {
  position: absolute;
  top: 176px;
  left: 727px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_67 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_67 span#rtr-s-Text_67_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_69 {
  position: absolute;
  top: 212px;
  left: 618px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_69 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_69 span#rtr-s-Text_69_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_71 {
  position: absolute;
  top: 212px;
  left: 727px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_71 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_71 span#rtr-s-Text_71_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_73 {
  position: absolute;
  top: 230px;
  left: 727px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_73 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_73 span#rtr-s-Text_73_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_75 {
  position: absolute;
  top: 192px;
  left: 726px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_75 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_77 {
  position: absolute;
  top: 121px;
  left: 619px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_77 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_77 span#rtr-s-Text_77_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_79 {
  position: absolute;
  top: 250px;
  left: 725px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_79 span {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_79 span#rtr-s-Text_79_0 {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_81 {
  position: absolute;
  top: 147px;
  left: 858px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_81 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_81 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_81 span#rtr-s-Text_81_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_83 {
  position: absolute;
  top: 147px;
  left: 964px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_83 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_83 span#rtr-s-Text_83_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_2 {
  position: absolute;
  top: 399px;
  left: 1002px;
  width: 151px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_84 {
  position: absolute;
  top: 349px;
  left: 635px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_84 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_84 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_84 span#rtr-s-Text_84_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_87 {
  position: absolute;
  top: 349px;
  left: 746px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_87 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_87 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_87 span#rtr-s-Text_87_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_88 {
  position: absolute;
  top: 402px;
  left: 614px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_88 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_88 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_88 span#rtr-s-Text_88_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_88 span#rtr-s-Text_88_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_89 {
  position: absolute;
  top: 315px;
  left: 619px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_89 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_89 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_89 span#rtr-s-Text_89_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_10 {
  position: absolute;
  top: 313px;
  left: 726px;
  width: 180px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Category_10 .valign {
  width: 162px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_90 {
  position: absolute;
  top: 459px;
  left: 611px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_90 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_90 span {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_90 span#rtr-s-Text_90_0 {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 484px;
  left: 609px;
  display: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_1 {
  width: 645px;
  height: 206px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Paragraph_1 {
  position: absolute;
  top: 1px;
  left: 117px;
  width: 477px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_2 {
  position: absolute;
  top: 1px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_7 {
  position: absolute;
  top: 75px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_50 {
  position: absolute;
  top: 75px;
  left: 117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_50 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_51 {
  position: absolute;
  top: 97px;
  left: 249px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_51 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_53 {
  position: absolute;
  top: 97px;
  left: 355px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_53 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_53 span#rtr-s-Text_53_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_54 {
  position: absolute;
  top: 98px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_54 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_54 span#rtr-s-Text_54_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_8 {
  position: absolute;
  top: 98px;
  left: 119px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_56 {
  position: absolute;
  top: 121px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_56 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_57 {
  position: absolute;
  top: 120px;
  left: 118px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_57 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_58 {
  position: absolute;
  top: 142px;
  left: 249px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_58 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_59 {
  position: absolute;
  top: 142px;
  left: 353px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_59 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_59 span#rtr-s-Text_59_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_60 {
  position: absolute;
  top: 119px;
  left: 249px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_60 span#rtr-s-Text_60_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_61 {
  position: absolute;
  top: 119px;
  left: 355px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_61 span#rtr-s-Text_61_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_62 {
  position: absolute;
  top: 143px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_62 span#rtr-s-Text_62_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_9 {
  position: absolute;
  top: 143px;
  left: 117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_64 {
  position: absolute;
  top: 166px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_64 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_64 span#rtr-s-Text_64_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_11 {
  position: absolute;
  top: 166px;
  left: 117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_66 {
  position: absolute;
  top: 75px;
  left: 249px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_66 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_66 span#rtr-s-Text_66_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_12 {
  position: absolute;
  top: 75px;
  left: 355px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_68 {
  position: absolute;
  top: 53px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_68 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_68 span#rtr-s-Text_68_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_13 {
  position: absolute;
  top: 53px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_7 {
  width: 611px;
  height: 183px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 113px;
  left: 1020px;
  display: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_2 {
  width: 250px;
  height: 115px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 248px;
  height: 113px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_7 {
  position: absolute;
  top: 26px;
  left: 12px;
  width: 47px;
  height: 47px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Line_2 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 250px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_14 {
  position: absolute;
  top: 4px;
  left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_15 {
  position: absolute;
  top: 32px;
  left: 97px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Input_1 {
  position: absolute;
  top: 32px;
  left: 171px;
  padding-left: 5px;
  width: 41px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_16 {
  position: absolute;
  top: 3px;
  left: 152px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_1 {
  position: absolute;
  top: 88px;
  left: 4px;
  width: 113px;
  height: 20px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_3 {
  position: absolute;
  top: 88px;
  left: 124px;
  width: 123px;
  height: 20px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_9 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_9 {
  position: absolute;
  top: 56px;
  left: 1170px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Input_2 {
  position: absolute;
  top: 350px;
  left: 618px;
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Input_3 {
  position: absolute;
  top: 350px;
  left: 730px;
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 162px;
  left: 258px;
  display: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_3 {
  width: 638px;
  height: 287px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_4 {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 626px;
  height: 277px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 6px 2px #434343;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_18 {
  position: absolute;
  top: 8px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_19 {
  position: absolute;
  top: 76px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_20 {
  position: absolute;
  top: 107px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_20 span#rtr-s-Text_20_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_21 {
  position: absolute;
  top: 138px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_21 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_13 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_13 {
  position: absolute;
  top: 105px;
  left: 86px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_15 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_15 {
  position: absolute;
  top: 105px;
  left: 314px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_16 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_16 {
  position: absolute;
  top: 136px;
  left: 86px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_22 {
  position: absolute;
  top: 76px;
  left: 344px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_22 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_23 {
  position: absolute;
  top: 107px;
  left: 344px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_23 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_24 {
  position: absolute;
  top: 138px;
  left: 344px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_24 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_18 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_18 {
  position: absolute;
  top: 136px;
  left: 314px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_91 {
  position: absolute;
  top: 202px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_91 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_91 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Text_91 span#rtr-s-Text_91_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_4 {
  position: absolute;
  top: 227px;
  left: 463px;
  width: 133px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-checkbox-on-light_7 > svg {
  width: 27px;
  height: 27px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-checkbox-on-light_7 {
  position: absolute;
  top: 71px;
  left: 84px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-checkbox-on-light_8 > svg {
  width: 27px;
  height: 27px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-checkbox-on-light_8 {
  position: absolute;
  top: 72px;
  left: 314px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_109 > svg {
  width: 24px;
  height: 24px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Image_109 {
  position: absolute;
  top: 9px;
  left: 602px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-side-drawer-dialog {
  position: absolute;
  top: 162px;
  left: 258px;
  display: none;
  z-index: 100;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_32 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_32 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 #s-Two-line-item_32 span#rtr-s-Two-line-item_32_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-24b9e92b-5471-41a8-93ba-a93c791c1486 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}