#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_14 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_143 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_144 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_147 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_150 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_151 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_152 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_154 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_155 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_156 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_157 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_158 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_159 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_160 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_161 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_162 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_163 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_164 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_165 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_166 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_167 {
  -ms-transform: rotate(0.0deg);
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 #s-Text_168 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2c3bef71-07f3-439a-918d-390553e599b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}