#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 177px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Table_2 {
  border-collapse: separate;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}