#s-367f215b-efe1-43a9-a2c2-b162bc92d842 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Button_2 {
  position: absolute;
  top: 160px;
  left: 1036px;
  width: 177px;
  height: 23px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Table_2 {
  position: absolute;
  top: 226px;
  left: 33px;
  width: 1200px;
  height: 297px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_65 {
  padding-left: 12px;
  width: 229px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_65 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_65 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_65 span#rtr-s-Text_cell_65_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_65 span#rtr-s-Text_cell_65_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_73 {
  padding-left: 12px;
  width: 162px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_73 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_73 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_73 span#rtr-s-Text_cell_73_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_81 {
  padding-left: 12px;
  width: 154px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_81 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_81 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_81 span#rtr-s-Text_cell_81_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_81 span#rtr-s-Text_cell_81_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_89 {
  padding-left: 12px;
  width: 138px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_89 span#rtr-s-Text_cell_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_97 {
  padding-left: 12px;
  width: 118px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_97 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_97 span#rtr-s-Text_cell_97_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_105 {
  padding-left: 12px;
  width: 89px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_105 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_105 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_105 span#rtr-s-Text_cell_105_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_113 {
  padding-left: 12px;
  width: 104px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_113 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_113 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_113 span#rtr-s-Text_cell_113_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_121 {
  padding-left: 12px;
  width: 101px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_121 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_121 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_121 span#rtr-s-Text_cell_121_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_66 {
  padding-left: 12px;
  width: 229px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_66 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_66 span#rtr-s-Text_cell_66_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_74 {
  padding-left: 12px;
  width: 162px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_74 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_74 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_74 span#rtr-s-Text_cell_74_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_82 {
  padding-left: 12px;
  width: 154px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_82 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_82 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_82 span#rtr-s-Text_cell_82_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_90 {
  padding-left: 12px;
  width: 138px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_90 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_90 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_90 span#rtr-s-Text_cell_90_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_98 {
  padding-left: 12px;
  width: 118px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_98 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_98 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_98 span#rtr-s-Text_cell_98_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_98 span#rtr-s-Text_cell_98_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_106 {
  padding-left: 12px;
  width: 89px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_106 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_106 span#rtr-s-Text_cell_106_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_114 {
  padding-left: 12px;
  width: 104px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_114 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_114 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_114 span#rtr-s-Text_cell_114_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_122 {
  padding-left: 12px;
  width: 101px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_122 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_122 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_122 span#rtr-s-Text_cell_122_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_67 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_67 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_67 span#rtr-s-Text_cell_67_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_75 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_75 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_75 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_75 span#rtr-s-Text_cell_75_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_83 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_83 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_83 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_83 span#rtr-s-Text_cell_83_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_91 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_91 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_91 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_91 span#rtr-s-Text_cell_91_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_99 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_99 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_99 span#rtr-s-Text_cell_99_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_99 span#rtr-s-Text_cell_99_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_107 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_107 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_107 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_107 span#rtr-s-Text_cell_107_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_115 {
  padding-left: 12px;
  width: 104px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_115 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_115 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_115 span#rtr-s-Text_cell_115_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_123 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_123 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_123 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_123 span#rtr-s-Text_cell_123_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_68 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_68 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_68 span#rtr-s-Text_cell_68_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_76 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_76 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_76 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_76 span#rtr-s-Text_cell_76_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_84 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_84 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_84 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_84 span#rtr-s-Text_cell_84_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_92 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_92 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_92 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_92 span#rtr-s-Text_cell_92_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_100 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_100 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_100 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_100 span#rtr-s-Text_cell_100_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_108 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_108 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_108 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_108 span#rtr-s-Text_cell_108_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_116 {
  padding-left: 12px;
  width: 104px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_116 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_116 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_116 span#rtr-s-Text_cell_116_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_124 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_124 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_124 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_124 span#rtr-s-Text_cell_124_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_69 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_69 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_69 span#rtr-s-Text_cell_69_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_77 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_77 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_77 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_77 span#rtr-s-Text_cell_77_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_85 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_85 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_85 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_85 span#rtr-s-Text_cell_85_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_93 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_93 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_93 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_93 span#rtr-s-Text_cell_93_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_101 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_101 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_101 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_101 span#rtr-s-Text_cell_101_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_109 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_109 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_109 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_109 span#rtr-s-Text_cell_109_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_117 {
  padding-left: 12px;
  width: 104px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_117 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_117 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_117 span#rtr-s-Text_cell_117_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_125 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_125 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_125 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_125 span#rtr-s-Text_cell_125_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_70 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_70 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_70 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_70 span#rtr-s-Text_cell_70_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_78 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_78 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_78 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_78 span#rtr-s-Text_cell_78_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_86 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_86 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_86 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_86 span#rtr-s-Text_cell_86_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_94 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_94 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_94 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_94 span#rtr-s-Text_cell_94_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_102 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_102 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_102 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_102 span#rtr-s-Text_cell_102_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_110 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_110 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_110 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_110 span#rtr-s-Text_cell_110_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_118 {
  padding-left: 12px;
  width: 104px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_118 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_118 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_118 span#rtr-s-Text_cell_118_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_126 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_126 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_126 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_126 span#rtr-s-Text_cell_126_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_71 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_71 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_71 span#rtr-s-Text_cell_71_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_79 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_79 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_79 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_79 span#rtr-s-Text_cell_79_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_87 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_87 span#rtr-s-Text_cell_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_95 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_95 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_95 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_95 span#rtr-s-Text_cell_95_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_103 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_103 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_103 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_103 span#rtr-s-Text_cell_103_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_111 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_111 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_111 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_111 span#rtr-s-Text_cell_111_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_119 {
  padding-left: 12px;
  width: 104px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_119 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_119 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_119 span#rtr-s-Text_cell_119_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_127 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_127 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_127 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_127 span#rtr-s-Text_cell_127_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_72 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_72 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_72 span#rtr-s-Text_cell_72_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_80 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_80 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_80 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_80 span#rtr-s-Text_cell_80_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_88 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_88 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_88 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_88 span#rtr-s-Text_cell_88_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_96 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_96 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_96 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_96 span#rtr-s-Text_cell_96_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_104 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_104 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_104 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_104 span#rtr-s-Text_cell_104_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_104 span#rtr-s-Text_cell_104_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_112 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_112 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_112 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_112 span#rtr-s-Text_cell_112_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_120 {
  padding-left: 12px;
  width: 104px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_120 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_120 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_120 span#rtr-s-Text_cell_120_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_128 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_128 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_128 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Text_cell_128 span#rtr-s-Text_cell_128_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_19 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_19 {
  position: absolute;
  top: 271px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_23 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_23 {
  position: absolute;
  top: 311px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_25 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_25 {
  position: absolute;
  top: 346px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_27 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_27 {
  position: absolute;
  top: 383px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_29 {
  position: absolute;
  top: 424px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_31 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_31 {
  position: absolute;
  top: 459px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_33 > svg {
  width: 24px;
  height: 24px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Image_33 {
  position: absolute;
  top: 496px;
  left: 1154px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-367f215b-efe1-43a9-a2c2-b162bc92d842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}