#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Table_6 {
  border-collapse: separate;
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Label_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4384F7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4384F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4384F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4384F7;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4384F7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4384F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4384F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4384F7;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_12 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_117 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_141 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_125 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_128 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_129 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_130 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_142 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_131 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_132 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_133 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_134 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_135 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_136 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_137 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_14 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_143 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_144 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_147 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_150 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_151 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_152 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_154 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_155 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_156 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_157 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_158 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_159 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_160 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_161 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_162 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_163 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_164 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_165 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_166 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_167 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_168 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_148 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_153 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 98px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_169 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_170 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_171 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_172 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_173 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_174 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Text_175 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-44d21804-245b-4a6d-86d1-1ca8740f98b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}