#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 #s-Text_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-45b04505-07f4-450b-bc77-9adadbaae106 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}