#s-48a90c96-d590-428d-afd0-f7771333419b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-48a90c96-d590-428d-afd0-f7771333419b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Italic',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_3 {
  position: absolute;
  top: 168px;
  left: 66px;
  width: 1177px;
  height: 42px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_1 {
  position: absolute;
  top: 64px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_2 {
  position: absolute;
  top: 64px;
  left: 536px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_3 {
  position: absolute;
  top: 64px;
  left: 892px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_11 {
  position: absolute;
  top: 176px;
  left: 83px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_12 {
  position: absolute;
  top: 178px;
  left: 361px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_13 {
  position: absolute;
  top: 178px;
  left: 671px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_13 span#rtr-s-Text_13_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_14 {
  position: absolute;
  top: 178px;
  left: 1021px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_14 span#rtr-s-Text_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_13 {
  position: absolute;
  top: 302px;
  left: 91px;
  width: 108px;
  height: 108px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_14 {
  position: absolute;
  top: 468px;
  left: 91px;
  width: 108px;
  height: 108px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Line_1 {
  position: absolute;
  top: 274px;
  left: 64px;
  width: 1172px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Line_2 {
  position: absolute;
  top: 440px;
  left: 64px;
  width: 1172px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Line_3 {
  position: absolute;
  top: 606px;
  left: 64px;
  width: 1172px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_4 {
  position: absolute;
  top: 242px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_5 {
  position: absolute;
  top: 242px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_6 {
  position: absolute;
  top: 242px;
  left: 505px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_7 {
  position: absolute;
  top: 242px;
  left: 697px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_8 {
  position: absolute;
  top: 242px;
  left: 892px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_9 {
  position: absolute;
  top: 242px;
  left: 1135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_15 {
  position: absolute;
  top: 342px;
  left: 243px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_15 span#rtr-s-Text_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_16 {
  position: absolute;
  top: 507px;
  left: 257px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Input_1 {
  position: absolute;
  top: 341px;
  left: 505px;
  padding-left: 5px;
  width: 55px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Input_2 {
  position: absolute;
  top: 507px;
  left: 516px;
  padding-left: 5px;
  width: 55px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_17 {
  position: absolute;
  top: 342px;
  left: 702px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_17 span#rtr-s-Text_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_18 {
  position: absolute;
  top: 507px;
  left: 703px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_18 span#rtr-s-Text_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_109 > svg {
  width: 24px;
  height: 24px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_109 {
  position: absolute;
  top: 338px;
  left: 901px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_110 > svg {
  width: 24px;
  height: 24px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Image_110 {
  position: absolute;
  top: 502px;
  left: 902px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_19 {
  position: absolute;
  top: 342px;
  left: 1119px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_19 span#rtr-s-Text_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_20 {
  position: absolute;
  top: 507px;
  left: 1117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_20 span#rtr-s-Text_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_25 {
  position: absolute;
  top: 629px;
  left: 889px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_25 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_25 span#rtr-s-Text_25_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_25 span#rtr-s-Text_25_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_26 {
  position: absolute;
  top: 629px;
  left: 1121px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_26 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Text_26 span#rtr-s-Text_26_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_1 {
  position: absolute;
  top: 734px;
  left: 986px;
  width: 250px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_1 span#rtr-s-Button_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_2 {
  position: absolute;
  top: 734px;
  left: 28px;
  width: 250px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
  z-index: 100;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-48a90c96-d590-428d-afd0-f7771333419b #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-48a90c96-d590-428d-afd0-f7771333419b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}