#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Italic',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_3 {
  position: absolute;
  top: 168px;
  left: 66px;
  width: 1177px;
  height: 42px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_1 {
  position: absolute;
  top: 64px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_2 {
  position: absolute;
  top: 64px;
  left: 536px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_3 {
  position: absolute;
  top: 64px;
  left: 892px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_11 {
  position: absolute;
  top: 176px;
  left: 83px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_12 {
  position: absolute;
  top: 178px;
  left: 361px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_13 {
  position: absolute;
  top: 176px;
  left: 689px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_14 {
  position: absolute;
  top: 179px;
  left: 1013px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_1 {
  position: absolute;
  top: 740px;
  left: 986px;
  width: 250px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_2 {
  position: absolute;
  top: 742px;
  left: 28px;
  width: 250px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_15 {
  position: absolute;
  top: 227px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_4 {
  position: absolute;
  top: 265px;
  left: 127px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_6 {
  position: absolute;
  top: 265px;
  left: 377px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_7 {
  position: absolute;
  top: 265px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_9 {
  position: absolute;
  top: 265px;
  left: 1007px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_16 {
  position: absolute;
  top: 294px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_17 {
  position: absolute;
  top: 323px;
  left: 118px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_18 {
  position: absolute;
  top: 294px;
  left: 574px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_19 {
  position: absolute;
  top: 323px;
  left: 575px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_20 {
  position: absolute;
  top: 294px;
  left: 991px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_21 {
  position: absolute;
  top: 323px;
  left: 989px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_21 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_25 {
  position: absolute;
  top: 352px;
  left: 932px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_25 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_25 span#rtr-s-Text_25_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_26 {
  position: absolute;
  top: 352px;
  left: 989px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_26 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_22 {
  position: absolute;
  top: 293px;
  left: 403px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_22 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_23 {
  position: absolute;
  top: 323px;
  left: 403px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_23 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_24 {
  position: absolute;
  top: 550px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_24 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_27 {
  position: absolute;
  top: 550px;
  left: 315px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_27 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_28 {
  position: absolute;
  top: 520px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_28 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_28 span#rtr-s-Text_28_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_34 {
  position: absolute;
  top: 580px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_34 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_35 {
  position: absolute;
  top: 550px;
  left: 664px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_35 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_5 {
  position: absolute;
  top: 412px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_29 {
  position: absolute;
  top: 412px;
  left: 604px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_29 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_55 {
  position: absolute;
  top: 436px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_55 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_56 {
  position: absolute;
  top: 436px;
  left: 604px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_56 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_57 {
  position: absolute;
  top: 461px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_57 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_58 {
  position: absolute;
  top: 461px;
  left: 604px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_58 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_62 {
  position: absolute;
  top: 483px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_62 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_62 span#rtr-s-Text_62_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_63 {
  position: absolute;
  top: 483px;
  left: 604px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_63 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_63 span#rtr-s-Text_63_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_64 {
  position: absolute;
  top: 483px;
  left: 942px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_64 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_64 span#rtr-s-Text_64_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_30 {
  position: absolute;
  top: 411px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_30 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_36 {
  position: absolute;
  top: 413px;
  left: 805px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_36 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_71 {
  position: absolute;
  top: 436px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_71 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_71 span#rtr-s-Text_71_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_72 {
  position: absolute;
  top: 460px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_72 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_72 span#rtr-s-Text_72_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_73 {
  position: absolute;
  top: 460px;
  left: 804px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_73 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_73 span#rtr-s-Text_73_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_75 {
  position: absolute;
  top: 483px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_75 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_76 {
  position: absolute;
  top: 483px;
  left: 804px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_76 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_76 span#rtr-s-Text_76_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_78 {
  position: absolute;
  top: 483px;
  left: 1083px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_78 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_78 span#rtr-s-Text_78_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_90 {
  position: absolute;
  top: 411px;
  left: 939px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_90 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_90 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_90 span#rtr-s-Text_90_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_92 {
  position: absolute;
  top: 411px;
  left: 1079px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_92 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_92 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_92 span#rtr-s-Text_92_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_37 {
  position: absolute;
  top: 382px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_37 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_37 span#rtr-s-Text_37_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_31 {
  position: absolute;
  top: 580px;
  left: 341px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_31 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_32 {
  position: absolute;
  top: 580px;
  left: 315px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_32 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_38 {
  position: absolute;
  top: 550px;
  left: 861px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_38 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_39 {
  position: absolute;
  top: 608px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_39 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_40 {
  position: absolute;
  top: 608px;
  left: 315px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_40 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_41 {
  position: absolute;
  top: 580px;
  left: 662px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_41 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_33 {
  position: absolute;
  top: 580px;
  left: 888px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_33 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_42 {
  position: absolute;
  top: 580px;
  left: 862px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_42 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_43 {
  position: absolute;
  top: 666px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_43 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Input_1 {
  position: absolute;
  top: 666px;
  left: 315px;
  padding-left: 5px;
  width: 275px;
  height: 62px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_44 {
  position: absolute;
  top: 666px;
  left: 662px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_44 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_45 {
  position: absolute;
  top: 666px;
  left: 861px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_45 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_46 {
  position: absolute;
  top: 691px;
  left: 661px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_46 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_47 {
  position: absolute;
  top: 691px;
  left: 996px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_47 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Input_2 {
  position: absolute;
  top: 691px;
  left: 917px;
  padding-left: 5px;
  width: 65px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_48 {
  position: absolute;
  top: 692px;
  left: 862px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_48 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4a203ae6-1ad5-4d2a-8a7b-7fa46fa373a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}