#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1281px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_1 {
  position: absolute;
  top: 27px;
  left: 2px;
  width: 157px;
  height: 43px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_71 {
  position: absolute;
  top: 36px;
  left: 19px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 {
  position: absolute;
  top: 36px;
  left: 609px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 span#rtr-s-Text_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Table_1 {
  position: absolute;
  top: 76px;
  left: 0px;
  width: 1273px;
  height: 569px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_1 {
  padding-left: 12px;
  width: 139px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_4 {
  padding-left: 12px;
  width: 619px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_7 {
  padding-left: 12px;
  width: 284px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_7 span#rtr-s-Text_cell_7_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_10 {
  padding-left: 12px;
  width: 177px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_10 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_2 {
  padding-left: 12px;
  width: 140px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_5 {
  padding-left: 12px;
  width: 619px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_8 {
  padding-left: 12px;
  width: 284px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_11 {
  padding-left: 12px;
  width: 177px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_3 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_6 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_9 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_12 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_12 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_13 {
  padding-left: 12px;
  width: 140px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_13 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_14 {
  padding-left: 12px;
  width: 619px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_15 {
  padding-left: 12px;
  width: 284px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_15 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_16 {
  padding-left: 12px;
  width: 177px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_16 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_17 {
  padding-left: 12px;
  width: 140px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_17 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_18 {
  padding-left: 12px;
  width: 619px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_19 {
  padding-left: 12px;
  width: 284px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_20 {
  padding-left: 12px;
  width: 177px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_20 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_21 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_21 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_22 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_22 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_23 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_23 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_24 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_24 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_25 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_25 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_26 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_26 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_27 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_27 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_28 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_28 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_29 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_29 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_30 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_30 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_31 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_31 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_32 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_32 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_33 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_33 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_34 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_34 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_35 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_35 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_36 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_36 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_37 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_37 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_38 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_38 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_39 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_39 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_40 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_40 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_41 {
  padding-left: 12px;
  width: 140px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_41 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_42 {
  padding-left: 12px;
  width: 619px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_42 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_43 {
  padding-left: 12px;
  width: 284px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_43 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_44 {
  padding-left: 12px;
  width: 177px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_44 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_45 {
  padding-left: 12px;
  width: 140px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_45 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_46 {
  padding-left: 12px;
  width: 619px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_46 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_47 {
  padding-left: 12px;
  width: 284px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_47 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_48 {
  padding-left: 12px;
  width: 177px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_48 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_49 {
  padding-left: 12px;
  width: 140px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_49 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_49 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_49 span#rtr-s-Text_cell_49_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_50 {
  padding-left: 12px;
  width: 619px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_50 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_50 span#rtr-s-Text_cell_50_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_51 {
  padding-left: 12px;
  width: 284px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_51 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_51 span#rtr-s-Text_cell_51_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_52 {
  padding-left: 12px;
  width: 177px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_52 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_52 span#rtr-s-Text_cell_52_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_52 span#rtr-s-Text_cell_52_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_53 {
  padding-left: 12px;
  width: 140px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_53 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_53 span#rtr-s-Text_cell_53_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_54 {
  padding-left: 12px;
  width: 619px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_54 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_54 span#rtr-s-Text_cell_54_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_55 {
  padding-left: 12px;
  width: 284px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_55 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_55 span#rtr-s-Text_cell_55_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_56 {
  padding-left: 12px;
  width: 177px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_56 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_56 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_56 span#rtr-s-Text_cell_56_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_cell_56 span#rtr-s-Text_cell_56_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_13 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_13 {
  position: absolute;
  top: 115px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_14 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_14 {
  position: absolute;
  top: 281px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_15 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_15 {
  position: absolute;
  top: 365px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_16 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_16 {
  position: absolute;
  top: 413px;
  left: 170px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_17 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_17 {
  position: absolute;
  top: 445px;
  left: 169px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_18 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_18 {
  position: absolute;
  top: 475px;
  left: 170px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_19 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_19 {
  position: absolute;
  top: 507px;
  left: 169px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_20 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_20 {
  position: absolute;
  top: 535px;
  left: 169px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_2 {
  position: absolute;
  top: 415px;
  left: 209px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_3 {
  position: absolute;
  top: 446px;
  left: 209px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_4 {
  position: absolute;
  top: 477px;
  left: 209px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_5 {
  position: absolute;
  top: 508px;
  left: 209px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_6 {
  position: absolute;
  top: 536px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_23 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_23 {
  position: absolute;
  top: 572px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_24 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_24 {
  position: absolute;
  top: 611px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 {
  position: absolute;
  top: 679px;
  left: 1093px;
  width: 180px;
  height: 46px;
  background-color: #794A7B;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 span#rtr-s-Button_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 span#rtr-s-Button_19_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_7 {
  position: absolute;
  top: 699px;
  left: 693px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Input_1 {
  position: absolute;
  top: 696px;
  left: 930px;
  padding-left: 5px;
  width: 35px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_2 {
  position: absolute;
  top: 729px;
  left: 0px;
  width: 1276px;
  height: 67px;
  background-color: #F0FEC5;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #56D00D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #56D00D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_8 {
  position: absolute;
  top: 739px;
  left: 68px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  z-index: 100;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_8 span {
  color: #56D00D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_8 span#rtr-s-Text_8_0 {
  color: #56D00D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_21 > svg {
  width: 45px;
  height: 48px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_21 {
  position: absolute;
  top: 733px;
  left: 18px;
  width: 45px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_9 {
  position: absolute;
  top: 763px;
  left: 68px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_1 {
  position: absolute;
  top: 742px;
  left: 971px;
  width: 250px;
  height: 46px;
  background-color: #56D00D;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  display: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_10 {
  position: absolute;
  top: 680px;
  left: 431px;
  width: 249px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_22 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_22 {
  position: absolute;
  top: 326px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_25 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_25 {
  position: absolute;
  top: 160px;
  left: 168px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_12 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_12 {
  position: absolute;
  top: 201px;
  left: 169px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_26 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_26 {
  position: absolute;
  top: 365px;
  left: 54px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_27 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_27 {
  position: absolute;
  top: 413px;
  left: 170px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_28 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_28 {
  position: absolute;
  top: 476px;
  left: 170px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_29 {
  position: absolute;
  top: 115px;
  left: 55px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}