#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Table_1 {
  border-collapse: separate;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #56D00D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #56D00D;
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}