#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4fdee2fb-1b2b-43bd-9ad9-401ca33d883b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}