#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 51px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77);
  filter: alpha(opacity=77);
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 152px;
  height: 26px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}