#s-514a84fe-c9f5-4173-8a97-c748dbd79717 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_11 {
  position: absolute;
  top: 185px;
  left: 123px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_12 {
  position: absolute;
  top: 185px;
  left: 395px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_13 {
  position: absolute;
  top: 185px;
  left: 667px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_14 {
  position: absolute;
  top: 185px;
  left: 940px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_15 {
  position: absolute;
  top: 495px;
  left: 124px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_16 {
  position: absolute;
  top: 495px;
  left: 396px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_17 {
  position: absolute;
  top: 495px;
  left: 668px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_18 {
  position: absolute;
  top: 495px;
  left: 941px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_9 {
  position: absolute;
  top: 390px;
  left: 415px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_9 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_2 {
  position: absolute;
  top: 396px;
  left: 489px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_10 {
  position: absolute;
  top: 390px;
  left: 688px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_10 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_3 {
  position: absolute;
  top: 396px;
  left: 762px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_11 {
  position: absolute;
  top: 390px;
  left: 960px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_11 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_4 {
  position: absolute;
  top: 396px;
  left: 1034px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_12 {
  position: absolute;
  top: 702px;
  left: 148px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_12 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_5 {
  position: absolute;
  top: 708px;
  left: 222px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_13 {
  position: absolute;
  top: 702px;
  left: 420px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_13 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_6 {
  position: absolute;
  top: 708px;
  left: 494px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_14 {
  position: absolute;
  top: 702px;
  left: 693px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_14 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_7 {
  position: absolute;
  top: 708px;
  left: 767px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_15 {
  position: absolute;
  top: 702px;
  left: 965px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_15 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_8 {
  position: absolute;
  top: 708px;
  left: 1039px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_3 {
  position: absolute;
  top: 390px;
  left: 144px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_3 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_9 {
  position: absolute;
  top: 396px;
  left: 218px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_4 {
  position: absolute;
  top: 185px;
  left: 395px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_6 {
  position: absolute;
  top: 185px;
  left: 667px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_1 {
  position: absolute;
  top: 121px;
  left: 1185px;
  width: 51px;
  height: 35px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_76 > svg {
  width: 41px;
  height: 41px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Image_76 {
  position: absolute;
  top: 120px;
  left: 1192px;
  width: 41px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1277px;
  height: 796px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.77;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 245px;
  left: 499px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Panel_1 {
  width: 382px;
  height: 137px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 381px;
  height: 136px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_11 {
  position: absolute;
  top: 17px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Category_1 {
  position: absolute;
  top: 60px;
  left: 101px;
  width: 180px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Category_1 .valign {
  width: 162px;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_2 {
  position: absolute;
  top: 94px;
  left: 112px;
  width: 152px;
  height: 26px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-514a84fe-c9f5-4173-8a97-c748dbd79717 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}