#s-635517ea-5035-4458-b8fa-961907424317 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-635517ea-5035-4458-b8fa-961907424317 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_3 {
  position: absolute;
  top: 184px;
  left: 75px;
  width: 1100px;
  height: 244px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.41;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Italic',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_15 {
  position: absolute;
  top: 134px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_4 {
  position: absolute;
  top: 226px;
  left: 98px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_6 {
  position: absolute;
  top: 226px;
  left: 348px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_7 {
  position: absolute;
  top: 226px;
  left: 540px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_9 {
  position: absolute;
  top: 225px;
  left: 693px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_16 {
  position: absolute;
  top: 255px;
  left: 93px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_17 {
  position: absolute;
  top: 284px;
  left: 93px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_18 {
  position: absolute;
  top: 255px;
  left: 545px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_19 {
  position: absolute;
  top: 284px;
  left: 546px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_20 {
  position: absolute;
  top: 254px;
  left: 677px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_21 {
  position: absolute;
  top: 283px;
  left: 675px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_21 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_25 {
  position: absolute;
  top: 312px;
  left: 91px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_25 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_25 span#rtr-s-Text_25_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_26 {
  position: absolute;
  top: 312px;
  left: 675px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_26 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_22 {
  position: absolute;
  top: 254px;
  left: 374px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_22 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_23 {
  position: absolute;
  top: 284px;
  left: 374px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_23 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_45 {
  position: absolute;
  top: 286px;
  left: 923px;
  width: 217px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_45 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_5 {
  position: absolute;
  top: 192px;
  left: 92px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_8 {
  position: absolute;
  top: 192px;
  left: 346px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_3 {
  position: absolute;
  top: 332px;
  left: 924px;
  width: 213px;
  height: 40px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_11 {
  position: absolute;
  top: 352px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_12 {
  position: absolute;
  top: 383px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_13 {
  position: absolute;
  top: 383px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_14 {
  position: absolute;
  top: 352px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
  z-index: 100;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_4 {
  position: absolute;
  top: 192px;
  left: 924px;
  width: 213px;
  height: 40px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 182px;
  left: 183px;
  display: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_1 {
  width: 984px;
  height: 446px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_4 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 979px;
  height: 434px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_9 {
  position: absolute;
  top: 2px;
  left: -1px;
  width: 982px;
  height: 36px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_89 {
  position: absolute;
  top: 9px;
  left: 955px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_89 span#rtr-s-Text_89_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_65 {
  position: absolute;
  top: 12px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_65 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_65 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_65 span#rtr-s-Text_65_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_24 {
  position: absolute;
  top: 106px;
  left: 23px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_24 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_24 span#rtr-s-Text_24_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_27 {
  position: absolute;
  top: 106px;
  left: 206px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_27 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_27 span#rtr-s-Text_27_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_31 {
  position: absolute;
  top: 164px;
  left: 23px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_31 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_31 span#rtr-s-Text_31_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_1 {
  position: absolute;
  top: 169px;
  left: 205px;
  box-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_32 {
  position: absolute;
  top: 164px;
  left: 223px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_32 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_3 {
  position: absolute;
  top: 194px;
  left: 205px;
  padding-left: 5px;
  width: 151px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_34 {
  position: absolute;
  top: 198px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_34 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_35 {
  position: absolute;
  top: 164px;
  left: 522px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_35 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Category_1 {
  position: absolute;
  top: 165px;
  left: 708px;
  width: 180px;
  z-index: 100;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Category_1 .valign {
  width: 162px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_8 {
  position: absolute;
  top: 236px;
  left: 205px;
  padding-left: 5px;
  width: 151px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_8 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_40 {
  position: absolute;
  top: 240px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_40 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_8 {
  position: absolute;
  top: 347px;
  left: 673px;
  width: 250px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Button_8 span#rtr-s-Button_8_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_28 {
  position: absolute;
  top: 66px;
  left: 23px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_28 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_29 {
  position: absolute;
  top: 66px;
  left: 206px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_29 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_30 {
  position: absolute;
  top: 66px;
  left: 388px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_30 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_33 {
  position: absolute;
  top: 66px;
  left: 571px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_33 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_36 {
  position: absolute;
  top: 130px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_36 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_37 {
  position: absolute;
  top: 130px;
  left: 217px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_37 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_37 span#rtr-s-Text_37_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 201px;
  left: 523px;
  display: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_2 {
  width: 400px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_39 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_39 span#rtr-s-Text_39_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_7 {
  position: absolute;
  top: 4px;
  left: 185px;
  padding-left: 5px;
  width: 151px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_7 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 194px;
  left: 411px;
  display: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_3 {
  width: 530px;
  height: 112px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_38 {
  position: absolute;
  top: 78px;
  left: 110px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_38 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_6 {
  position: absolute;
  top: 87px;
  left: 297px;
  padding-left: 5px;
  width: 169px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_6 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_41 {
  position: absolute;
  top: 42px;
  left: 110px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_41 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_5 {
  position: absolute;
  top: 49px;
  left: 297px;
  padding-left: 5px;
  width: 169px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_42 {
  position: absolute;
  top: 8px;
  left: 110px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_42 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_4 {
  position: absolute;
  top: 12px;
  left: 297px;
  padding-left: 5px;
  width: 169px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-635517ea-5035-4458-b8fa-961907424317 #s-Input_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-635517ea-5035-4458-b8fa-961907424317 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}