#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7093ee06-cf23-4348-8dd6-347d9dc1215c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}