#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77);
  filter: alpha(opacity=77);
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 152px;
  height: 26px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-724487a0-fba2-4922-9d2d-c799726d76a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}