#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}