#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 176px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 141px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7885cb0e-f270-4fd4-8fa6-d84ae8e4c864 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}