#s-788f4e71-7027-40ac-8f2f-e61c313d3adc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_1 {
  position: absolute;
  top: 128px;
  left: 603px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_11 {
  position: absolute;
  top: 185px;
  left: 123px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_12 {
  position: absolute;
  top: 185px;
  left: 395px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_13 {
  position: absolute;
  top: 185px;
  left: 667px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_14 {
  position: absolute;
  top: 185px;
  left: 940px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_15 {
  position: absolute;
  top: 495px;
  left: 124px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_16 {
  position: absolute;
  top: 495px;
  left: 396px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_17 {
  position: absolute;
  top: 495px;
  left: 668px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_18 {
  position: absolute;
  top: 495px;
  left: 941px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_9 {
  position: absolute;
  top: 390px;
  left: 415px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_9 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 {
  position: absolute;
  top: 396px;
  left: 479px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 span#rtr-s-Text_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_10 {
  position: absolute;
  top: 390px;
  left: 688px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_10 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 {
  position: absolute;
  top: 396px;
  left: 754px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 span#rtr-s-Text_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_11 {
  position: absolute;
  top: 390px;
  left: 960px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_11 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 {
  position: absolute;
  top: 396px;
  left: 1018px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 span#rtr-s-Text_4_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_12 {
  position: absolute;
  top: 702px;
  left: 148px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_12 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 {
  position: absolute;
  top: 708px;
  left: 213px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 span#rtr-s-Text_5_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_13 {
  position: absolute;
  top: 702px;
  left: 420px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_13 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 {
  position: absolute;
  top: 708px;
  left: 485px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 span#rtr-s-Text_6_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_14 {
  position: absolute;
  top: 702px;
  left: 693px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_14 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 {
  position: absolute;
  top: 708px;
  left: 754px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 span#rtr-s-Text_7_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_15 {
  position: absolute;
  top: 702px;
  left: 965px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_15 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 {
  position: absolute;
  top: 707px;
  left: 1029px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 span#rtr-s-Text_8_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_3 {
  position: absolute;
  top: 390px;
  left: 144px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_3 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 {
  position: absolute;
  top: 395px;
  left: 207px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 span#rtr-s-Text_9_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_4 {
  position: absolute;
  top: 185px;
  left: 395px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_6 {
  position: absolute;
  top: 185px;
  left: 667px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_2 {
  position: absolute;
  top: 100px;
  left: 7px;
  width: 100px;
  height: 100px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_102 > svg {
  width: 24px;
  height: 24px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_102 {
  position: absolute;
  top: 410px;
  left: 895px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_5 {
  position: absolute;
  top: 137px;
  left: 1162px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1277px;
  height: 796px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.76;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_11 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_11 {
  position: absolute;
  top: 185px;
  left: 348px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_12 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_12 {
  position: absolute;
  top: 185px;
  left: 620px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_13 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_13 {
  position: absolute;
  top: 185px;
  left: 892px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_14 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_14 {
  position: absolute;
  top: 185px;
  left: 1165px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_15 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_15 {
  position: absolute;
  top: 495px;
  left: 349px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_16 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_16 {
  position: absolute;
  top: 495px;
  left: 621px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_17 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_17 {
  position: absolute;
  top: 495px;
  left: 893px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_18 > svg {
  width: 27px;
  height: 27px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_18 {
  position: absolute;
  top: 495px;
  left: 1166px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 span#rtr-s-Two-line-item_31_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_32 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_32 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_32 span#rtr-s-Two-line-item_32_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_19 > svg {
  width: 30px;
  height: 30px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_19 {
  position: absolute;
  top: 137px;
  left: 1125px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}