#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}