#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_11 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_12 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_13 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_14 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_15 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_16 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_17 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-checkbox-on-light_18 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-788f4e71-7027-40ac-8f2f-e61c313d3adc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}