#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_2 {
  rotation: 90.0;
  margin-left: 138px;
  margin-top: -139px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}