#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D2B361;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D2B361;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D2B361;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(90.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(90.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Table_1 {
  border-collapse: separate;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Table_2 {
  border-collapse: separate;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #679868;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #679868;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #679868;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #679868;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 120px;
  height: 22px;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-78e679e7-63b3-42b3-a08d-031ec0dbb7bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}