#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}