#s-84bed901-e8ab-44a7-9b11-114627bc5317 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Italic',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Italic',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_3 {
  position: absolute;
  top: 168px;
  left: 66px;
  width: 1177px;
  height: 42px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_1 {
  position: absolute;
  top: 64px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_2 {
  position: absolute;
  top: 64px;
  left: 536px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_3 {
  position: absolute;
  top: 64px;
  left: 892px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 120.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 120.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_11 {
  position: absolute;
  top: 176px;
  left: 83px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_12 {
  position: absolute;
  top: 178px;
  left: 361px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 {
  position: absolute;
  top: 178px;
  left: 671px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_14 {
  position: absolute;
  top: 178px;
  left: 1021px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_1 {
  position: absolute;
  top: 734px;
  left: 962px;
  width: 274px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_2 {
  position: absolute;
  top: 734px;
  left: 28px;
  width: 250px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_4 {
  position: absolute;
  top: 243px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_1 {
  position: absolute;
  top: 243px;
  left: 261px;
  width: 180px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_1 .valign {
  width: 162px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 306px;
  left: 63px;
  display: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Panel_1 {
  width: 1120px;
  height: 144px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_5 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_6 {
  position: absolute;
  top: 10px;
  left: 481px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_55 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_56 {
  position: absolute;
  top: 41px;
  left: 481px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_56 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_57 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_57 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_58 {
  position: absolute;
  top: 74px;
  left: 481px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_58 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_62 {
  position: absolute;
  top: 101px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_62 span#rtr-s-Text_62_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_63 {
  position: absolute;
  top: 101px;
  left: 482px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_63 span#rtr-s-Text_63_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_64 {
  position: absolute;
  top: 101px;
  left: 819px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_64 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_64 span#rtr-s-Text_64_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 {
  position: absolute;
  top: 9px;
  left: 200px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_8 {
  position: absolute;
  top: 11px;
  left: 682px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_71 {
  position: absolute;
  top: 41px;
  left: 200px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_71 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_71 span#rtr-s-Text_71_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_72 {
  position: absolute;
  top: 73px;
  left: 200px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_72 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_72 span#rtr-s-Text_72_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_73 {
  position: absolute;
  top: 73px;
  left: 681px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_73 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_73 span#rtr-s-Text_73_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_75 {
  position: absolute;
  top: 101px;
  left: 201px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_75 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_76 {
  position: absolute;
  top: 101px;
  left: 682px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_76 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_76 span#rtr-s-Text_76_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_78 {
  position: absolute;
  top: 101px;
  left: 960px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_78 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_78 span#rtr-s-Text_78_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_90 {
  position: absolute;
  top: 9px;
  left: 816px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_90 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_90 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_90 span#rtr-s-Text_90_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_92 {
  position: absolute;
  top: 9px;
  left: 956px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_92 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_92 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_92 span#rtr-s-Text_92_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_81 > svg {
  width: 24px;
  height: 24px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_81 {
  position: absolute;
  top: 2px;
  left: 1087px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 359px;
  left: 63px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Panel_2 {
  width: 1172px;
  height: 270px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_9 {
  position: absolute;
  top: 4px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_22 {
  position: absolute;
  top: 0px;
  left: 191px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_22 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 {
  position: absolute;
  top: 4px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 span#rtr-s-Text_35_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_23 {
  position: absolute;
  top: 0px;
  left: 630px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_23 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_36 {
  position: absolute;
  top: 39px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_1 {
  position: absolute;
  top: 35px;
  left: 191px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_15 {
  position: absolute;
  top: 39px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_25 {
  position: absolute;
  top: 35px;
  left: 630px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_25 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_25 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_38 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_26 {
  position: absolute;
  top: 70px;
  left: 191px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_26 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_26 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_39 {
  position: absolute;
  top: 74px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_27 {
  position: absolute;
  top: 70px;
  left: 630px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_27 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_27 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_40 {
  position: absolute;
  top: 112px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_28 {
  position: absolute;
  top: 108px;
  left: 191px;
  padding-left: 5px;
  width: 193px;
  height: 87px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_28 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_41 {
  position: absolute;
  top: 112px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_29 {
  position: absolute;
  top: 108px;
  left: 630px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_29 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_29 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_42 {
  position: absolute;
  top: 147px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_30 {
  position: absolute;
  top: 143px;
  left: 630px;
  padding-left: 5px;
  width: 193px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_30 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_30 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_44 {
  position: absolute;
  top: 112px;
  left: 883px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_45 {
  position: absolute;
  top: 180px;
  left: 440px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_46 {
  position: absolute;
  top: 180px;
  left: 883px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_5 {
  position: absolute;
  top: 108px;
  left: 980px;
  width: 180px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_5 .valign {
  width: 162px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_6 {
  position: absolute;
  top: 179px;
  left: 630px;
  width: 200px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_6 .valign {
  width: 182px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_7 {
  position: absolute;
  top: 179px;
  left: 980px;
  width: 180px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Category_7 .valign {
  width: 162px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_59 {
  position: absolute;
  top: 4px;
  left: 883px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_59 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_59 span#rtr-s-Text_59_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_39 {
  position: absolute;
  top: 0px;
  left: 980px;
  padding-left: 5px;
  width: 173px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_39 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_39 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Input_39 .icon {
  top: 2px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_3 {
  position: absolute;
  top: 237px;
  left: 967px;
  width: 195px;
  height: 30px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_16 {
  position: absolute;
  top: 324px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}