#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84bed901-e8ab-44a7-9b11-114627bc5317 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}