#s-95a314d0-999c-4f27-8691-d06306e2a889 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_6 {
  position: absolute;
  top: 28px;
  left: 57px;
  width: 253px;
  height: 66px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_75 {
  position: absolute;
  top: 40px;
  left: 61px;
  width: 195px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_75 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Table_2 {
  position: absolute;
  top: 222px;
  left: 88px;
  width: 1029px;
  height: 255px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_1 {
  padding-left: 12px;
  width: 177px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_6 {
  padding-left: 12px;
  width: 825px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_2 {
  padding-left: 12px;
  width: 177px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_7 {
  padding-left: 12px;
  width: 825px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_3 {
  padding-left: 12px;
  width: 177px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_8 {
  padding-left: 12px;
  width: 825px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_4 {
  padding-left: 12px;
  width: 177px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_9 {
  padding-left: 12px;
  width: 825px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_5 {
  padding-left: 12px;
  width: 177px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_10 {
  padding-left: 12px;
  width: 825px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 122px;
  left: 193px;
  display: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Panel_1 {
  width: 847px;
  height: 500px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 843px;
  height: 493px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 843px;
  height: 38px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_12 {
  position: absolute;
  top: 9px;
  left: 817px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_13 {
  position: absolute;
  top: 11px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_2 {
  position: absolute;
  top: 80px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Paragraph_1 {
  position: absolute;
  top: 123px;
  left: 72px;
  width: 691px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_3 {
  position: absolute;
  top: 83px;
  left: 599px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-95a314d0-999c-4f27-8691-d06306e2a889 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}