#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a559a502-3e90-43d6-b2da-3f531938cf07 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}