#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}