#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5eab988-83fd-4bb2-904b-1ad6edfa3cc5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}