#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}