#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Table_2 {
  border-collapse: separate;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_89 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Button_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b3080130-feea-4c36-98b8-e1c0658b381e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}