#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b33f31ff-8c70-4ebd-8f71-f74a47803b88 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}