#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b4fded73-af93-4517-a07c-aaba3efdf270 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}