#s-bcc90db0-da1a-44f1-9990-a8835bcce188 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_6 {
  position: absolute;
  top: 28px;
  left: 57px;
  width: 253px;
  height: 66px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_75 {
  position: absolute;
  top: 40px;
  left: 61px;
  width: 195px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_75 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_5 {
  position: absolute;
  top: 184px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_6 {
  position: absolute;
  top: 186px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_7 {
  position: absolute;
  top: 186px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_9 {
  position: absolute;
  top: 217px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_11 {
  position: absolute;
  top: 248px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_13 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_13 {
  position: absolute;
  top: 215px;
  left: 211px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_14 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_14 {
  position: absolute;
  top: 184px;
  left: 211px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_15 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_15 {
  position: absolute;
  top: 215px;
  left: 439px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_16 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_16 {
  position: absolute;
  top: 246px;
  left: 211px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_1 {
  position: absolute;
  top: 336px;
  left: 221px;
  width: 173px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_3 {
  position: absolute;
  top: 335px;
  left: 415px;
  width: 172px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_43 {
  position: absolute;
  top: 336px;
  left: 425px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_5 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_5 {
  position: absolute;
  top: 336px;
  left: 221px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_12 {
  position: absolute;
  top: 340px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_13 {
  position: absolute;
  top: 508px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_14 {
  position: absolute;
  top: 477px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Input_1 {
  position: absolute;
  top: 477px;
  left: 226px;
  padding-left: 5px;
  width: 514px;
  height: 122px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_2 {
  position: absolute;
  top: 648px;
  left: 1051px;
  width: 160px;
  height: 24px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_8 {
  position: absolute;
  top: 186px;
  left: 469px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_17 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_17 {
  position: absolute;
  top: 184px;
  left: 439px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_10 {
  position: absolute;
  top: 217px;
  left: 469px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_15 {
  position: absolute;
  top: 248px;
  left: 469px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_18 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_18 {
  position: absolute;
  top: 246px;
  left: 439px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_4 {
  position: absolute;
  top: 335px;
  left: 608px;
  width: 172px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_44 {
  position: absolute;
  top: 336px;
  left: 618px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_3 {
  position: absolute;
  top: 367px;
  left: 211px;
  width: 569px;
  height: 90px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_19 {
  position: absolute;
  top: 374px;
  left: 382px;
  width: 73px;
  height: 73px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_12 {
  position: absolute;
  top: 374px;
  left: 301px;
  width: 73px;
  height: 73px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_11 {
  position: absolute;
  top: 374px;
  left: 220px;
  width: 73px;
  height: 73px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_32 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_32 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_32 span#rtr-s-Two-line-item_32_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_109 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_109 {
  position: absolute;
  top: 375px;
  left: 270px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_110 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_110 {
  position: absolute;
  top: 375px;
  left: 351px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_111 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_111 {
  position: absolute;
  top: 375px;
  left: 432px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_16 {
  position: absolute;
  top: 280px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_20 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_20 {
  position: absolute;
  top: 278px;
  left: 211px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_17 {
  position: absolute;
  top: 282px;
  left: 470px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_21 > svg {
  width: 24px;
  height: 24px;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_21 {
  position: absolute;
  top: 280px;
  left: 440px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}