#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 173px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 172px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 160px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 172px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_109 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_110 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_111 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bcc90db0-da1a-44f1-9990-a8835bcce188 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}