#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}