#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_4 {
  position: absolute;
  top: 176px;
  left: 123px;
  width: 1045px;
  height: 299px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_5 {
  position: absolute;
  top: 198px;
  left: 183px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_4 {
  position: absolute;
  top: 213px;
  left: 810px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_4 {
  position: absolute;
  top: 266px;
  left: 720px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_4 {
  position: absolute;
  top: 416px;
  left: 869px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_3 {
  position: absolute;
  top: 487px;
  left: 123px;
  width: 1045px;
  height: 299px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Image_2 {
  position: absolute;
  top: 508px;
  left: 720px;
  width: 413px;
  height: 262px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_2 {
  position: absolute;
  top: 520px;
  left: 330px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_1 {
  position: absolute;
  top: 573px;
  left: 240px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_1 {
  position: absolute;
  top: 713px;
  left: 389px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_3 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bfb80ed2-d9ae-41a0-91fd-73fc1cd3bb06 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}