#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c008f2fb-7e7c-49f5-8a84-2cef73e08207 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}