#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Line_3 {
  position: absolute;
  top: 793px;
  left: 539px;
  width: 200px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_48 {
  position: absolute;
  top: 556px;
  left: 82px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_6 {
  position: absolute;
  top: 581px;
  left: 83px;
  width: 100px;
  height: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_7 {
  position: absolute;
  top: 581px;
  left: 215px;
  width: 100px;
  height: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_8 {
  position: absolute;
  top: 581px;
  left: 349px;
  width: 100px;
  height: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_9 {
  position: absolute;
  top: 581px;
  left: 485px;
  width: 100px;
  height: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_2 {
  position: absolute;
  top: 131px;
  left: 165px;
  width: 131px;
  height: 23px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_81 > svg {
  width: 16px;
  height: 16px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_81 {
  position: absolute;
  top: 138px;
  left: 1102px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_1 {
  position: absolute;
  top: 609px;
  left: 619px;
  width: 173px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_3 {
  position: absolute;
  top: 657px;
  left: 619px;
  width: 172px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_43 {
  position: absolute;
  top: 658px;
  left: 629px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_2 > svg {
  width: 24px;
  height: 24px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_2 {
  position: absolute;
  top: 609px;
  left: 619px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 {
  position: absolute;
  top: 208px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 {
  position: absolute;
  top: 208px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_55 {
  position: absolute;
  top: 239px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_56 {
  position: absolute;
  top: 239px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_56 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_57 {
  position: absolute;
  top: 272px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_57 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_58 {
  position: absolute;
  top: 272px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_58 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_59 {
  position: absolute;
  top: 430px;
  left: 87px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_59 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_59 span#rtr-s-Text_59_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_60 {
  position: absolute;
  top: 430px;
  left: 568px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_60 span#rtr-s-Text_60_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_61 {
  position: absolute;
  top: 470px;
  left: 568px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_61 span#rtr-s-Text_61_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_62 {
  position: absolute;
  top: 513px;
  left: 87px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_62 span#rtr-s-Text_62_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_63 {
  position: absolute;
  top: 513px;
  left: 568px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_63 span#rtr-s-Text_63_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_64 {
  position: absolute;
  top: 513px;
  left: 905px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_64 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_64 span#rtr-s-Text_64_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 {
  position: absolute;
  top: 179px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 span#rtr-s-Text_67_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 span#rtr-s-Text_67_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_68 {
  position: absolute;
  top: 176px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_68 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_68 span#rtr-s-Text_68_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_3 {
  position: absolute;
  top: 207px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_5 {
  position: absolute;
  top: 209px;
  left: 770px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_71 {
  position: absolute;
  top: 239px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_71 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_71 span#rtr-s-Text_71_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_72 {
  position: absolute;
  top: 271px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_72 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_72 span#rtr-s-Text_72_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_73 {
  position: absolute;
  top: 271px;
  left: 769px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_73 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_73 span#rtr-s-Text_73_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 {
  position: absolute;
  top: 430px;
  left: 287px;
  width: 240px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 span#rtr-s-Text_74_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 span#rtr-s-Text_74_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_75 {
  position: absolute;
  top: 513px;
  left: 287px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_75 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_75 span#rtr-s-Text_75_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_76 {
  position: absolute;
  top: 513px;
  left: 768px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_76 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_76 span#rtr-s-Text_76_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_77 {
  position: absolute;
  top: 470px;
  left: 768px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_77 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_77 span#rtr-s-Text_77_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_78 {
  position: absolute;
  top: 513px;
  left: 1046px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_78 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_78 span#rtr-s-Text_78_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 {
  position: absolute;
  top: 317px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 span#rtr-s-Text_79_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 span#rtr-s-Text_79_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 span#rtr-s-Text_79_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 {
  position: absolute;
  top: 317px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 span#rtr-s-Text_80_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 span#rtr-s-Text_80_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 span#rtr-s-Text_80_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_81 {
  position: absolute;
  top: 350px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_81 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_81 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_81 span#rtr-s-Text_81_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_82 {
  position: absolute;
  top: 350px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_82 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_82 span#rtr-s-Text_82_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_83 {
  position: absolute;
  top: 385px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_83 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_83 span#rtr-s-Text_83_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_84 {
  position: absolute;
  top: 385px;
  left: 569px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_84 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_84 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_84 span#rtr-s-Text_84_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_85 {
  position: absolute;
  top: 316px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_85 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_85 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_85 span#rtr-s-Text_85_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_86 {
  position: absolute;
  top: 317px;
  left: 770px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_86 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_86 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_86 span#rtr-s-Text_86_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 {
  position: absolute;
  top: 350px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 span#rtr-s-Text_87_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 span#rtr-s-Text_87_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_88 {
  position: absolute;
  top: 384px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_88 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_88 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_88 span#rtr-s-Text_88_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_89 {
  position: absolute;
  top: 384px;
  left: 769px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_89 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_89 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_89 span#rtr-s-Text_89_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_90 {
  position: absolute;
  top: 273px;
  left: 904px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_90 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_90 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_90 span#rtr-s-Text_90_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_91 {
  position: absolute;
  top: 383px;
  left: 905px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_91 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_91 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_91 span#rtr-s-Text_91_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_92 {
  position: absolute;
  top: 273px;
  left: 1005px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_92 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_92 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_92 span#rtr-s-Text_92_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 {
  position: absolute;
  top: 385px;
  left: 1013px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 span#rtr-s-Text_93_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 span#rtr-s-Text_93_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_69 {
  position: absolute;
  top: 255px;
  left: 1117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_69 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_69 span#rtr-s-Text_69_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_3 {
  position: absolute;
  top: 146px;
  left: 1132px;
  width: 100px;
  height: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_19 > svg {
  width: 24px;
  height: 24px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_19 {
  position: absolute;
  top: 146px;
  left: 1210px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_32 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_32 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_32 span#rtr-s-Two-line-item_32_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}