#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}