#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 131px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 173px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 172px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c39fe0c4-a087-4115-9ad3-5868d483fdd0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}