#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-checkbox-on-light_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c63cd663-1041-4aab-8105-4a4bb5e1c2d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}