#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Table_2 {
  border-collapse: separate;
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_89 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_90 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Table_3 {
  border-collapse: separate;
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_91 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 166px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 143px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 151px;
  height: 21px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c8762469-a365-4377-9ee5-adb935135af3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c8762469-a365-4377-9ee5-adb935135af3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}