#s-d0695d5b-2753-4d21-ae6c-999d25388591 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_5 {
  position: absolute;
  top: 195px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_1 {
  position: absolute;
  top: 191px;
  left: 262px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_13 {
  position: absolute;
  top: 194px;
  left: 544px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_8 {
  position: absolute;
  top: 190px;
  left: 734px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_21 {
  position: absolute;
  top: 270px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_12 {
  position: absolute;
  top: 266px;
  left: 262px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_22 {
  position: absolute;
  top: 270px;
  left: 544px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_13 {
  position: absolute;
  top: 266px;
  left: 734px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_13 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_23 {
  position: absolute;
  top: 305px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_14 {
  position: absolute;
  top: 301px;
  left: 262px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_14 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_24 {
  position: absolute;
  top: 305px;
  left: 544px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_15 {
  position: absolute;
  top: 301px;
  left: 734px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_25 {
  position: absolute;
  top: 339px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_16 {
  position: absolute;
  top: 335px;
  left: 262px;
  padding-left: 5px;
  width: 207px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_16 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_26 {
  position: absolute;
  top: 339px;
  left: 544px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_17 {
  position: absolute;
  top: 335px;
  left: 734px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_17 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_28 {
  position: absolute;
  top: 379px;
  left: 544px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_20 {
  position: absolute;
  top: 375px;
  left: 734px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_20 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_20 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_29 {
  position: absolute;
  top: 411px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_30 {
  position: absolute;
  top: 411px;
  left: 544px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_32 {
  position: absolute;
  top: 448px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Category_4 {
  position: absolute;
  top: 411px;
  left: 262px;
  width: 213px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Category_4 .valign {
  width: 195px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Category_5 {
  position: absolute;
  top: 410px;
  left: 734px;
  width: 213px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Category_5 .valign {
  width: 195px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Category_6 {
  position: absolute;
  top: 445px;
  left: 262px;
  width: 213px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Category_6 .valign {
  width: 195px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_34 {
  position: absolute;
  top: 503px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_1 {
  position: absolute;
  top: 498px;
  left: 262px;
  width: 176px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_5 {
  position: absolute;
  top: 666px;
  left: 970px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_6 {
  position: absolute;
  top: 666px;
  left: 1052px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Line_3 {
  position: absolute;
  top: 793px;
  left: 539px;
  width: 200px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_36 {
  position: absolute;
  top: 230px;
  left: 69px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_23 {
  position: absolute;
  top: 228px;
  left: 262px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_23 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_23 .icon {
  top: 2px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_37 {
  position: absolute;
  top: 559px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_24 {
  position: absolute;
  top: 555px;
  left: 213px;
  padding-left: 5px;
  width: 425px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Input_24 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_2 {
  position: absolute;
  top: 498px;
  left: 467px;
  width: 141px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_43 {
  position: absolute;
  top: 499px;
  left: 476px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_2 {
  position: absolute;
  top: 137px;
  left: 294px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_2 span {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_2 > svg {
  width: 24px;
  height: 24px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Image_2 {
  position: absolute;
  top: 499px;
  left: 261px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d0695d5b-2753-4d21-ae6c-999d25388591 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}