#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 131px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 131px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 131px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Table_1 {
  border-collapse: separate;
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 131px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_8 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_89 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Text_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e5bae985-dc99-49b2-bdfa-39c1746c6545 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}