#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_10 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}