#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_11 {
  position: absolute;
  top: 185px;
  left: 123px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_12 {
  position: absolute;
  top: 185px;
  left: 395px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_13 {
  position: absolute;
  top: 185px;
  left: 667px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_14 {
  position: absolute;
  top: 185px;
  left: 940px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_15 {
  position: absolute;
  top: 495px;
  left: 124px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_16 {
  position: absolute;
  top: 495px;
  left: 396px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_17 {
  position: absolute;
  top: 495px;
  left: 668px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Image_18 {
  position: absolute;
  top: 495px;
  left: 941px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_9 {
  position: absolute;
  top: 390px;
  left: 415px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_9 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_2 {
  position: absolute;
  top: 396px;
  left: 489px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_10 {
  position: absolute;
  top: 390px;
  left: 688px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_10 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_3 {
  position: absolute;
  top: 396px;
  left: 762px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_11 {
  position: absolute;
  top: 390px;
  left: 960px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_11 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_4 {
  position: absolute;
  top: 396px;
  left: 1034px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_12 {
  position: absolute;
  top: 702px;
  left: 148px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_12 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_5 {
  position: absolute;
  top: 708px;
  left: 222px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_13 {
  position: absolute;
  top: 702px;
  left: 420px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_13 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_6 {
  position: absolute;
  top: 708px;
  left: 494px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_14 {
  position: absolute;
  top: 702px;
  left: 693px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_14 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_7 {
  position: absolute;
  top: 708px;
  left: 767px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_15 {
  position: absolute;
  top: 702px;
  left: 965px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_15 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_8 {
  position: absolute;
  top: 708px;
  left: 1039px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_3 {
  position: absolute;
  top: 390px;
  left: 144px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_3 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_9 {
  position: absolute;
  top: 396px;
  left: 218px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: -1px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Panel_1 {
  width: 1280px;
  height: 852px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1277px;
  height: 846px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.92;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Message-light {
  position: absolute;
  top: 302px;
  left: 339px;
  width: 560px;
  height: 168px;
  z-index: 100;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-right: 16px;
  padding-left: 16px;
  width: 528px;
  height: 148px;
  background-color: #FAFAFA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 7px 25px 2px #999999;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_4 {
  position: absolute;
  top: 105px;
  left: 148px;
  width: 159px;
  height: 29px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_10 {
  position: absolute;
  top: 105px;
  left: 324px;
  width: 215px;
  height: 29px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1154b08-c10c-4fb9-a217-3c480fe24cb6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}