#s-f1761c56-cbe8-4452-b0e1-63b918b4359a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_6 {
  position: absolute;
  top: 28px;
  left: 57px;
  width: 253px;
  height: 66px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_75 {
  position: absolute;
  top: 40px;
  left: 61px;
  width: 195px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_75 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_75 span#rtr-s-Text_75_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_2 {
  position: absolute;
  top: 227px;
  left: 151px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_2 {
  position: absolute;
  top: 383px;
  left: 197px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_3 {
  position: absolute;
  top: 227px;
  left: 376px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_3 {
  position: absolute;
  top: 383px;
  left: 410px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_4 {
  position: absolute;
  top: 227px;
  left: 601px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 {
  position: absolute;
  top: 383px;
  left: 633px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 span#rtr-s-Text_4_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_6 {
  position: absolute;
  top: 500px;
  left: 152px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_6 {
  position: absolute;
  top: 657px;
  left: 186px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_7 {
  position: absolute;
  top: 501px;
  left: 604px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_7 {
  position: absolute;
  top: 657px;
  left: 612px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_9 {
  position: absolute;
  top: 501px;
  left: 378px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_9 {
  position: absolute;
  top: 657px;
  left: 423px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_5 {
  position: absolute;
  top: 184px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 {
  position: absolute;
  top: 459px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.000001pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.000001pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 span#rtr-s-Text_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.000001pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 span#rtr-s-Text_11_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.000001pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_11 {
  position: absolute;
  top: 501px;
  left: 850px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 {
  position: absolute;
  top: 657px;
  left: 855px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 span#rtr-s-Text_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 span#rtr-s-Text_14_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 {
  position: absolute;
  top: 459px;
  left: 844px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 span#rtr-s-Text_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 span#rtr-s-Text_15_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_12 {
  position: absolute;
  top: 501px;
  left: 1071px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_16 {
  position: absolute;
  top: 657px;
  left: 1102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_16 span#rtr-s-Text_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_8 {
  position: absolute;
  top: 229px;
  left: 844px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 8px 1px #999999;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_8 {
  position: absolute;
  top: 383px;
  left: 872px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 span#rtr-s-Two-line-item_31_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_32 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_32 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_32 span#rtr-s-Two-line-item_32_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}