#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}