#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1761c56-cbe8-4452-b0e1-63b918b4359a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}