#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-menu_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-search_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-more-vertical_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-refresh_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 240px;
  margin-top: -242px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77) ;
  filter: alpha(opacity=77) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f39d2b82-4c13-4e93-9c3a-b328191e3c82 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}