#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 28px;
  background-color: #9B59B6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_1 {
  position: absolute;
  top: 28px;
  left: 66px;
  width: 209px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-dual--section-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 1280px;
  height: 76px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 1207px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-menu_6 > svg {
  width: 26px;
  height: 26px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-menu_6 {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-search_4 > svg {
  width: 26px;
  height: 26px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-search_4 {
  position: absolute;
  top: 35px;
  left: 1170px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-more-vertical_10 > svg {
  width: 26px;
  height: 26px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-more-vertical_10 {
  position: absolute;
  top: 35px;
  left: 1248px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-refresh_5 > svg {
  width: 26px;
  height: 26px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-refresh_5 {
  position: absolute;
  top: 35px;
  left: 1227px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_40 > svg {
  width: 24px;
  height: 24px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_40 {
  position: absolute;
  top: 56px;
  left: 1201px;
  width: 24px;
  height: 24px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_1 {
  position: absolute;
  top: 121px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Scrollbar {
  position: absolute;
  top: 96px;
  left: 1276px;
  width: 6px;
  height: 485px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-scrollbar-1_1 {
  position: absolute;
  top: 242px;
  left: -238px;
  width: 485px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-drag-scrollbar_1 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 6px;
  height: 30px;
  background-color: #303030;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-drag-scrollbar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-drag-scrollbar_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-drag-scrollbar_1 span#rtr-s-drag-scrollbar_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_5 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 228px;
  height: 62px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_10 {
  position: absolute;
  top: 57px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_34 {
  position: absolute;
  top: 613px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_1 {
  position: absolute;
  top: 608px;
  left: 265px;
  width: 176px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_5 {
  position: absolute;
  top: 720px;
  left: 991px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_6 {
  position: absolute;
  top: 720px;
  left: 1073px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Line_3 {
  position: absolute;
  top: 793px;
  left: 539px;
  width: 200px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_37 {
  position: absolute;
  top: 652px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_24 {
  position: absolute;
  top: 649px;
  left: 255px;
  padding-left: 5px;
  width: 425px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_24 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_2 {
  position: absolute;
  top: 608px;
  left: 470px;
  width: 141px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_43 {
  position: absolute;
  top: 609px;
  left: 479px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_2 > svg {
  width: 24px;
  height: 24px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Image_2 {
  position: absolute;
  top: 609px;
  left: 264px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_2 {
  position: absolute;
  top: 241px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_22 {
  position: absolute;
  top: 237px;
  left: 258px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_22 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_35 {
  position: absolute;
  top: 241px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_35 span#rtr-s-Text_35_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_23 {
  position: absolute;
  top: 237px;
  left: 697px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_23 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_36 {
  position: absolute;
  top: 276px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_1 {
  position: absolute;
  top: 272px;
  left: 258px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_3 {
  position: absolute;
  top: 276px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_25 {
  position: absolute;
  top: 272px;
  left: 697px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_25 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_25 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_38 {
  position: absolute;
  top: 311px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_26 {
  position: absolute;
  top: 307px;
  left: 258px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_26 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_26 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_39 {
  position: absolute;
  top: 311px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_27 {
  position: absolute;
  top: 307px;
  left: 697px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_27 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_27 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_40 {
  position: absolute;
  top: 489px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_28 {
  position: absolute;
  top: 485px;
  left: 258px;
  padding-left: 5px;
  width: 207px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_28 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_41 {
  position: absolute;
  top: 489px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_29 {
  position: absolute;
  top: 485px;
  left: 697px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_29 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_29 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_42 {
  position: absolute;
  top: 529px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_30 {
  position: absolute;
  top: 525px;
  left: 697px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_30 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_30 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_44 {
  position: absolute;
  top: 561px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_45 {
  position: absolute;
  top: 561px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_46 {
  position: absolute;
  top: 564px;
  left: 950px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_5 {
  position: absolute;
  top: 561px;
  left: 258px;
  width: 213px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_5 .valign {
  width: 195px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_6 {
  position: absolute;
  top: 560px;
  left: 697px;
  width: 213px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_6 .valign {
  width: 195px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_7 {
  position: absolute;
  top: 560px;
  left: 1048px;
  width: 183px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_7 .valign {
  width: 165px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_47 {
  position: absolute;
  top: 178px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_31 {
  position: absolute;
  top: 174px;
  left: 258px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_31 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_31 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_48 {
  position: absolute;
  top: 176px;
  left: 507px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_8 {
  position: absolute;
  top: 174px;
  left: 697px;
  width: 214px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Category_8 .valign {
  width: 196px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_49 {
  position: absolute;
  top: 374px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_49 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_49 span#rtr-s-Text_49_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_32 {
  position: absolute;
  top: 370px;
  left: 257px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_32 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_32 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_50 {
  position: absolute;
  top: 374px;
  left: 506px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_50 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_50 span#rtr-s-Text_50_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_33 {
  position: absolute;
  top: 370px;
  left: 696px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_33 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_33 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_51 {
  position: absolute;
  top: 409px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_51 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_34 {
  position: absolute;
  top: 405px;
  left: 257px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_34 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_34 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_52 {
  position: absolute;
  top: 409px;
  left: 506px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_52 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_52 span#rtr-s-Text_52_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_35 {
  position: absolute;
  top: 405px;
  left: 696px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_35 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_35 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_53 {
  position: absolute;
  top: 444px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_53 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_53 span#rtr-s-Text_53_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_36 {
  position: absolute;
  top: 440px;
  left: 257px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_36 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_36 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_54 {
  position: absolute;
  top: 444px;
  left: 506px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_54 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_54 span#rtr-s-Text_54_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_37 {
  position: absolute;
  top: 440px;
  left: 696px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_37 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_37 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_55 {
  position: absolute;
  top: 346px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_56 {
  position: absolute;
  top: 371px;
  left: 950px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_56 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_38 {
  position: absolute;
  top: 366px;
  left: 1047px;
  padding-left: 5px;
  width: 141px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_38 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_38 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_38 .icon {
  top: 2px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_57 {
  position: absolute;
  top: 238px;
  left: 950px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_57 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_39 {
  position: absolute;
  top: 233px;
  left: 1047px;
  padding-left: 5px;
  width: 141px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_39 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_39 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_39 .icon {
  top: 2px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_40 {
  position: absolute;
  top: 348px;
  left: 255px;
  box-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_58 {
  position: absolute;
  top: 346px;
  left: 282px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_58 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_59 {
  position: absolute;
  top: 216px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_59 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_59 span#rtr-s-Text_59_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_59 span#rtr-s-Text_59_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_60 {
  position: absolute;
  top: 175px;
  left: 950px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Text_60 span#rtr-s-Text_60_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_41 {
  position: absolute;
  top: 170px;
  left: 1047px;
  padding-left: 5px;
  width: 141px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_41 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_41 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Input_41 .icon {
  top: 2px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-side-drawer-dialog {
  position: absolute;
  top: 97px;
  left: 0px;
  display: none;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Panel_4 {
  width: 293px;
  height: 752px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_27 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_17 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_17 span#rtr-s-Two-line-item_17_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_20 {
  padding-top: 8px;
  padding-left: 30px;
  width: 260px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  z-index: 100;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_20 span#rtr-s-Two-line-item_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_30 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_30 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_30 span#rtr-s-Two-line-item_30_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_31 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_31 span#rtr-s-Two-line-item_31_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_12 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_13 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_14 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_15 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_16 {
  padding-top: 8px;
  padding-left: 30px;
  width: 276px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 #s-Two-line-item_16 span#rtr-s-Two-line-item_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f80720ed-6e33-40f6-ada6-1d0048a121b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}