#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-base_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-menu_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-search_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-more-vertical_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-refresh_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_40 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_95 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Rectangle_16 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Panel_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e #s-Two-line-item_16 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fd434ea4-7958-4295-ba69-aa1335b7af6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}