#t-7924a65e-7b88-453c-a532-68a3067b6be2 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-7924a65e-7b88-453c-a532-68a3067b6be2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-7924a65e-7b88-453c-a532-68a3067b6be2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}