#t-919a68ab-139d-442f-a239-d340163d4085 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-919a68ab-139d-442f-a239-d340163d4085 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-919a68ab-139d-442f-a239-d340163d4085 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}