#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05556a4b-b7db-407b-92a0-3a5db0eea992 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}