#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_1 {
  position: absolute;
  top: 88px;
  left: 14px;
  width: 241px;
  height: 83px;
  background-color: #00ACAC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00ACAC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00ACAC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00ACAC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00ACAC;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_2 {
  position: absolute;
  top: 88px;
  left: 279px;
  width: 241px;
  height: 83px;
  background-color: #348FE2;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #348FE2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #348FE2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #348FE2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #348FE2;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_3 {
  position: absolute;
  top: 88px;
  left: 543px;
  width: 241px;
  height: 83px;
  background-color: #727CB6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #727CB6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #727CB6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #727CB6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #727CB6;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_2 {
  position: absolute;
  top: 97px;
  left: 555px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_3 {
  position: absolute;
  top: 97px;
  left: 291px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_2 > svg {
  width: 50px;
  height: 50px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_2 {
  position: absolute;
  top: 106px;
  left: 450px;
  width: 50px;
  height: 50px;
  opacity: 0.47;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_4 > svg {
  width: 50px;
  height: 50px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_4 {
  position: absolute;
  top: 109px;
  left: 716px;
  width: 50px;
  height: 50px;
  opacity: 0.47;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_4 {
  position: absolute;
  top: 124px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_5 {
  position: absolute;
  top: 124px;
  left: 294px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_6 {
  position: absolute;
  top: 124px;
  left: 555px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_4 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_3 > svg {
  width: 50px;
  height: 50px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_3 {
  position: absolute;
  top: 108px;
  left: 191px;
  width: 50px;
  height: 50px;
  opacity: 0.47;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Group_1 {
  position: absolute;
  top: 24px;
  left: 992px;
  width: 355px;
  height: 42px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 10px;
  width: 343px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Panel_2 {
  width: 355px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Panel_2 .ghostHLayout {
  width: calc(362px);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_6 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_7 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 span#rtr-s-Label_2_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_1 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_5 {
  position: absolute;
  top: 88px;
  left: 802px;
  width: 241px;
  height: 83px;
  background-color: #0AC38F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0AC38F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0AC38F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0AC38F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0AC38F;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_7 {
  position: absolute;
  top: 97px;
  left: 814px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_8 {
  position: absolute;
  top: 124px;
  left: 814px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_5 > svg {
  width: 50px;
  height: 50px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_5 {
  position: absolute;
  top: 109px;
  left: 978px;
  width: 50px;
  height: 50px;
  opacity: 0.47;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_45 {
  position: absolute;
  top: 3px;
  left: 1228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_45 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}