#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00ACAC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00ACAC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00ACAC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00ACAC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #348FE2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #348FE2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #348FE2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #348FE2;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #727CB6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #727CB6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #727CB6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #727CB6;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0AC38F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0AC38F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0AC38F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0AC38F;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}