#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) ;
  filter: alpha(opacity=47) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) ;
  filter: alpha(opacity=47) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) ;
  filter: alpha(opacity=47) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Image_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) ;
  filter: alpha(opacity=47) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a617d2-0b0e-4bd5-b95c-31a1cf1badc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}