#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fd50b8b-8591-4968-a722-5f7a2a79dfb4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}