#s-338a1b2a-de53-422c-9903-6796360c9db6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Input_3 {
  position: absolute;
  top: 385px;
  left: 400px;
  padding-left: 5px;
  width: 98px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Input_3 input {
  color: #F3F3F3;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 1351px;
  height: 595px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 71px;
  left: 45px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_4 {
  width: 306px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_4 .verticalalign {
  vertical-align: middle;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_4 .Panel_4 > * {
  margin-right: 6px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_4 .ghostHLayout {
  width: calc(316px);
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_29 {
  padding-left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_29 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_32 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_37 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_37 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_11 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_12 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Image_2 {
  position: absolute;
  top: 130px;
  left: 93px;
  width: 486px;
  height: 434px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_1 {
  position: absolute;
  top: 121px;
  left: 78px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_4 {
  position: absolute;
  top: 156px;
  left: 734px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_5 {
  position: absolute;
  top: 605px;
  left: 81px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Image_3 {
  position: absolute;
  top: 637px;
  left: 80px;
  width: 128px;
  height: 128px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Image_4 {
  position: absolute;
  top: 637px;
  left: 238px;
  width: 128px;
  height: 128px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_6 {
  position: absolute;
  top: 765px;
  left: 94px;
  width: 107px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_7 {
  position: absolute;
  top: 766px;
  left: 255px;
  width: 101px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_9 {
  position: absolute;
  top: 156px;
  left: 843px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_15 {
  position: absolute;
  top: 185px;
  left: 734px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_16 {
  position: absolute;
  top: 185px;
  left: 842px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_17 {
  position: absolute;
  top: 221px;
  left: 733px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_18 {
  position: absolute;
  top: 221px;
  left: 842px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_21 {
  position: absolute;
  top: 239px;
  left: 842px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_22 {
  position: absolute;
  top: 201px;
  left: 841px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_8 {
  position: absolute;
  top: 130px;
  left: 734px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_3 {
  position: absolute;
  top: 259px;
  left: 840px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_3 span {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_13 {
  position: absolute;
  top: 156px;
  left: 973px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_14 {
  position: absolute;
  top: 156px;
  left: 1079px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 502px;
  left: 726px;
  display: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_1 {
  width: 611px;
  height: 195px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Paragraph_2 {
  position: absolute;
  top: 0px;
  left: 109px;
  width: 477px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_23 {
  position: absolute;
  top: 74px;
  left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_24 {
  position: absolute;
  top: 74px;
  left: 109px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_29 {
  position: absolute;
  top: 96px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_30 {
  position: absolute;
  top: 96px;
  left: 347px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_27 {
  position: absolute;
  top: 97px;
  left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_28 {
  position: absolute;
  top: 97px;
  left: 111px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_33 {
  position: absolute;
  top: 120px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_34 {
  position: absolute;
  top: 119px;
  left: 110px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_35 {
  position: absolute;
  top: 141px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_36 {
  position: absolute;
  top: 141px;
  left: 345px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_37 {
  position: absolute;
  top: 118px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_38 {
  position: absolute;
  top: 118px;
  left: 347px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_39 {
  position: absolute;
  top: 142px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_40 {
  position: absolute;
  top: 142px;
  left: 109px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_40 span#rtr-s-Text_40_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_41 {
  position: absolute;
  top: 165px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_42 {
  position: absolute;
  top: 165px;
  left: 109px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_31 {
  position: absolute;
  top: 74px;
  left: 241px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_32 {
  position: absolute;
  top: 74px;
  left: 347px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_32 span#rtr-s-Text_32_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_19 {
  position: absolute;
  top: 52px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_20 {
  position: absolute;
  top: 52px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_3 {
  width: 611px;
  height: 183px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Button_1 {
  position: absolute;
  top: 408px;
  left: 1117px;
  width: 151px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_43 {
  position: absolute;
  top: 358px;
  left: 750px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_44 {
  position: absolute;
  top: 358px;
  left: 976px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_45 {
  position: absolute;
  top: 358px;
  left: 1085px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_46 {
  position: absolute;
  top: 358px;
  left: 861px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_2 {
  position: absolute;
  top: 411px;
  left: 724px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_52 {
  position: absolute;
  top: 324px;
  left: 734px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_52 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_52 span#rtr-s-Text_52_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_1 {
  position: absolute;
  top: 322px;
  left: 841px;
  width: 180px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_1 .valign {
  width: 162px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 258px;
  left: 840px;
  display: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_5 {
  width: 315px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_26 {
  position: absolute;
  top: 4px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_47 {
  position: absolute;
  top: 30px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_2 {
  position: absolute;
  top: 2px;
  left: 83px;
  width: 65px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_2 .valign {
  width: 47px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_3 {
  position: absolute;
  top: 2px;
  left: 155px;
  width: 64px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_3 .valign {
  width: 46px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_4 {
  position: absolute;
  top: 2px;
  left: 226px;
  width: 64px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_4 .valign {
  width: 46px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_5 {
  position: absolute;
  top: 26px;
  left: 83px;
  width: 81px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Category_5 .valign {
  width: 63px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_10 {
  position: absolute;
  top: 468px;
  left: 726px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_10 span {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #2232C6;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Radio_button_1 {
  position: absolute;
  top: 359px;
  left: 733px;
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Radio_button_2 {
  position: absolute;
  top: 359px;
  left: 844px;
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Radio_button_3 {
  position: absolute;
  top: 359px;
  left: 959px;
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Radio_button_4 {
  position: absolute;
  top: 359px;
  left: 1067px;
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Rectangle_1 {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Group_1 {
  position: absolute;
  top: 19px;
  left: 994px;
  width: 355px;
  height: 42px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 10px;
  width: 343px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_2 {
  width: 355px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Panel_2 .ghostHLayout {
  width: calc(362px);
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_7 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_2 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_2 span#rtr-s-Label_2_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_1 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_49 {
  position: absolute;
  top: 3px;
  left: 1228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_49 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-338a1b2a-de53-422c-9903-6796360c9db6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}