#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_2 {
  position: absolute;
  top: 97px;
  left: 555px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_4 {
  position: absolute;
  top: 124px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Table_1 {
  position: absolute;
  top: 202px;
  left: 62px;
  width: 1059px;
  height: 297px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_1 {
  padding-left: 12px;
  width: 229px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_1 span#rtr-s-Text_cell_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_7 {
  padding-left: 12px;
  width: 226px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_10 {
  padding-left: 12px;
  width: 179px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_13 {
  padding-left: 12px;
  width: 203px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_41 {
  padding-left: 12px;
  width: 156px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_41 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_2 {
  padding-left: 12px;
  width: 229px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_8 {
  padding-left: 12px;
  width: 226px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_11 {
  padding-left: 12px;
  width: 179px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_14 {
  padding-left: 12px;
  width: 203px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_42 {
  padding-left: 12px;
  width: 156px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_3 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_9 {
  padding-left: 12px;
  width: 226px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_12 {
  padding-left: 12px;
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_15 {
  padding-left: 12px;
  width: 203px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_43 {
  padding-left: 12px;
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_43 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_16 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_18 {
  padding-left: 12px;
  width: 226px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_19 {
  padding-left: 12px;
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_20 {
  padding-left: 12px;
  width: 203px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_44 {
  padding-left: 12px;
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_44 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_21 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_23 {
  padding-left: 12px;
  width: 226px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_24 {
  padding-left: 12px;
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_25 {
  padding-left: 12px;
  width: 203px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_45 {
  padding-left: 12px;
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_45 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_26 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_28 {
  padding-left: 12px;
  width: 226px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_29 {
  padding-left: 12px;
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_30 {
  padding-left: 12px;
  width: 203px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_46 {
  padding-left: 12px;
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_46 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_31 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_33 {
  padding-left: 12px;
  width: 226px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_34 {
  padding-left: 12px;
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_35 {
  padding-left: 12px;
  width: 203px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_47 {
  padding-left: 12px;
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_47 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_36 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_38 {
  padding-left: 12px;
  width: 226px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_39 {
  padding-left: 12px;
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_40 {
  padding-left: 12px;
  width: 203px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_48 {
  padding-left: 12px;
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_48 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_16 {
  position: absolute;
  top: 212px;
  left: 271px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_17 {
  position: absolute;
  top: 211px;
  left: 506px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_18 {
  position: absolute;
  top: 212px;
  left: 712px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Button_1 {
  position: absolute;
  top: 146px;
  left: 1067px;
  width: 177px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_3 {
  position: absolute;
  top: 99px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_21 {
  position: absolute;
  top: 211px;
  left: 926px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Group_1 {
  position: absolute;
  top: 24px;
  left: 989px;
  width: 359px;
  height: 42px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 359px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Panel_2 {
  width: 359px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Panel_2 .ghostHLayout {
  width: calc(366px);
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_2 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_2 span#rtr-s-Label_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_2 span#rtr-s-Label_2_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_7 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Label_7 span#rtr-s-Label_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_43 {
  position: absolute;
  top: 3px;
  left: 1228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_43 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Text_43 span#rtr-s-Text_43_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_19 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_19 {
  position: absolute;
  top: 246px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_22 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_22 {
  position: absolute;
  top: 246px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_23 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_23 {
  position: absolute;
  top: 286px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_24 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_24 {
  position: absolute;
  top: 286px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_25 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_25 {
  position: absolute;
  top: 321px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_26 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_26 {
  position: absolute;
  top: 321px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_27 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_27 {
  position: absolute;
  top: 358px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_28 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_28 {
  position: absolute;
  top: 358px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_29 {
  position: absolute;
  top: 399px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_30 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_30 {
  position: absolute;
  top: 399px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_31 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_31 {
  position: absolute;
  top: 434px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_32 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_32 {
  position: absolute;
  top: 435px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_33 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_33 {
  position: absolute;
  top: 471px;
  left: 1010px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_34 > svg {
  width: 24px;
  height: 24px;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee #s-Image_34 {
  position: absolute;
  top: 472px;
  left: 1044px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3e3fd30c-21e7-49d8-9334-f6f956edb8ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}