#s-4439af3b-d7e8-4468-8725-eb1205194216 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_43 {
  position: absolute;
  top: 95px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_43 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 25px;
  left: 173px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Panel_2 {
  width: 244px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Panel_2 .verticalalign {
  vertical-align: middle;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_29 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_30 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_30 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_31 {
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Image_2 {
  position: absolute;
  top: 166px;
  left: 80px;
  width: 544px;
  height: 398px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Paragraph_1 {
  position: absolute;
  top: 211px;
  left: 712px;
  width: 546px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_2 {
  position: absolute;
  top: 164px;
  left: 912px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Button_1 {
  position: absolute;
  top: 566px;
  left: 952px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Hotspot_1 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 179px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}