#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Panel_2 > .valign {
  vertical-align: middle;
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Label_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 0px 0px;
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-4439af3b-d7e8-4468-8725-eb1205194216 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}