#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_2 {
  rotation: 90.0;
  margin-left: 297px;
  margin-top: -299px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}