#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_4 {
  position: absolute;
  top: 124px;
  left: 75px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_3 {
  position: absolute;
  top: 98px;
  left: 75px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Table_1 {
  position: absolute;
  top: 191px;
  left: 233px;
  width: 928px;
  height: 182px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_31 {
  padding-left: 12px;
  width: 158px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_41 {
  padding-left: 12px;
  width: 743px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_41 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_33 {
  padding-left: 12px;
  width: 158px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_42 {
  padding-left: 12px;
  width: 743px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_42 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_34 {
  padding-left: 12px;
  width: 158px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_43 {
  padding-left: 12px;
  width: 743px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_43 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_35 {
  padding-left: 12px;
  width: 158px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_44 {
  padding-left: 12px;
  width: 743px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_44 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_36 {
  padding-left: 12px;
  width: 158px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_45 {
  padding-left: 12px;
  width: 743px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_45 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 168px;
  left: 53px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_1 {
  width: 134px;
  height: 313px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_1 .Panel_1 > *:last-child {
  margin-bottom: 0;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_1 .Panel_1 > * {
  margin-bottom: 6px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_8 {
  padding-left: 17px;
  width: 112px;
  height: 24px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6E2C89;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6E2C89;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6E2C89;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_9 {
  padding-left: 17px;
  width: 113px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_2 {
  position: absolute;
  top: 461px;
  left: -114px;
  width: 599px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Image_24 {
  position: absolute;
  top: 199px;
  left: 379px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_1 {
  position: absolute;
  top: 95px;
  left: 1095px;
  width: 197px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 95px;
  left: 212px;
  display: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_3 {
  width: 950px;
  height: 600px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 943px;
  height: 441px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 943px;
  height: 38px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_2 {
  position: absolute;
  top: 8px;
  left: 914px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_5 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_6 {
  position: absolute;
  top: 80px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_1 {
  position: absolute;
  top: 77px;
  left: 107px;
  padding-left: 5px;
  width: 389px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_7 {
  position: absolute;
  top: 105px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Category_1 {
  position: absolute;
  top: 103px;
  left: 107px;
  width: 150px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Category_1 .valign {
  width: 132px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Category_2 {
  position: absolute;
  top: 103px;
  left: 280px;
  width: 150px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Category_2 .valign {
  width: 132px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_8 {
  position: absolute;
  top: 142px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_2 {
  position: absolute;
  top: 139px;
  left: 107px;
  padding-left: 5px;
  width: 389px;
  height: 184px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  cursor: text;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_2 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_9 {
  position: absolute;
  top: 80px;
  left: 559px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Group_2 {
  position: absolute;
  top: 81px;
  left: 698px;
  width: 80px;
  height: 13px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Radio_button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Radio_button_2 {
  position: absolute;
  top: 0px;
  left: 67px;
  cursor: pointer;
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_10 {
  position: absolute;
  top: 79px;
  left: 714px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_11 {
  position: absolute;
  top: 79px;
  left: 785px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_3 {
  position: absolute;
  top: 105px;
  left: 691px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  display: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Input_3 .icon {
  top: 6px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_2 {
  position: absolute;
  top: 337px;
  left: 680px;
  width: 197px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Group_1 {
  position: absolute;
  top: 26px;
  left: 649px;
  width: 698px;
  height: 42px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 698px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_2 {
  width: 698px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_2 .ghostHLayout {
  width: calc(705px);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_7 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_10 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_11 {
  width: 66px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_3 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_3 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_4 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_4 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_2 {
  padding-top: 3px;
  width: 100px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_2 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}