#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Table_1 {
  border-collapse: separate;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6E2C89;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6E2C89;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6E2C89;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 17px;
  width: 112px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-47f199bb-ed47-48c3-9b3c-91d46b2f5f55 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}