#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55302c98-dacd-409b-aca9-b66bde66bb22 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}