#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Line_2 {
  position: absolute;
  top: 567px;
  left: -282px;
  width: 913px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_1 {
  position: absolute;
  top: 276px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_2 {
  position: absolute;
  top: 398px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_1 {
  position: absolute;
  top: 293px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_2 {
  position: absolute;
  top: 311px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_3 {
  position: absolute;
  top: 329px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_4 {
  position: absolute;
  top: 347px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_5 {
  position: absolute;
  top: 364px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_4 {
  position: absolute;
  top: 292px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_5 {
  position: absolute;
  top: 310px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_6 {
  position: absolute;
  top: 328px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_7 {
  position: absolute;
  top: 346px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_8 {
  position: absolute;
  top: 363px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_9 {
  position: absolute;
  top: 376px;
  left: 91px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_9 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_6 {
  position: absolute;
  top: 416px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_7 {
  position: absolute;
  top: 434px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_8 {
  position: absolute;
  top: 452px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_9 {
  position: absolute;
  top: 470px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_10 {
  position: absolute;
  top: 487px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_10 {
  position: absolute;
  top: 415px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_11 {
  position: absolute;
  top: 433px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_12 {
  position: absolute;
  top: 451px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_13 {
  position: absolute;
  top: 470px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_14 {
  position: absolute;
  top: 487px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_15 {
  position: absolute;
  top: 503px;
  left: 91px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_15 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_15 span#rtr-s-Text_15_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_17 {
  position: absolute;
  top: 545px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_12 {
  position: absolute;
  top: 562px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_13 {
  position: absolute;
  top: 580px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_14 {
  position: absolute;
  top: 598px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_15 {
  position: absolute;
  top: 616px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_16 {
  position: absolute;
  top: 633px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_18 {
  position: absolute;
  top: 561px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_19 {
  position: absolute;
  top: 579px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_20 {
  position: absolute;
  top: 597px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_21 {
  position: absolute;
  top: 615px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_22 {
  position: absolute;
  top: 632px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_23 {
  position: absolute;
  top: 610px;
  left: 94px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_23 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_23 span#rtr-s-Text_23_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_24 {
  position: absolute;
  top: 674px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_17 {
  position: absolute;
  top: 691px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_18 {
  position: absolute;
  top: 709px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_19 {
  position: absolute;
  top: 727px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_20 {
  position: absolute;
  top: 745px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_21 {
  position: absolute;
  top: 762px;
  left: 12px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_25 {
  position: absolute;
  top: 690px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_26 {
  position: absolute;
  top: 708px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_27 {
  position: absolute;
  top: 726px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_27 span#rtr-s-Text_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_28 {
  position: absolute;
  top: 744px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_29 {
  position: absolute;
  top: 761px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_30 {
  position: absolute;
  top: 739px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_30 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_30 span#rtr-s-Text_30_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_31 {
  position: absolute;
  top: 811px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_31 span#rtr-s-Text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_32 {
  position: absolute;
  top: 832px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_22 {
  position: absolute;
  top: 832px;
  left: 58px;
  padding-left: 5px;
  width: 58px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_22 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_33 {
  position: absolute;
  top: 849px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_33 span#rtr-s-Text_33_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_23 {
  position: absolute;
  top: 849px;
  left: 58px;
  padding-left: 5px;
  width: 58px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_23 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_34 {
  position: absolute;
  top: 142px;
  left: 182px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Category_1 {
  position: absolute;
  top: 140px;
  left: 237px;
  width: 101px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Category_1 .valign {
  width: 83px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_2 {
  position: absolute;
  top: 172px;
  left: 210px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_3 {
  position: absolute;
  top: 172px;
  left: 482px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_4 {
  position: absolute;
  top: 172px;
  left: 754px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_5 {
  position: absolute;
  top: 172px;
  left: 1027px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_6 {
  position: absolute;
  top: 516px;
  left: 211px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_7 {
  position: absolute;
  top: 516px;
  left: 483px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_8 {
  position: absolute;
  top: 516px;
  left: 755px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Image_9 {
  position: absolute;
  top: 516px;
  left: 1028px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_1 {
  position: absolute;
  top: 377px;
  left: 230px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_1 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_35 {
  position: absolute;
  top: 382px;
  left: 309px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_35 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_35 span#rtr-s-Text_35_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_2 {
  position: absolute;
  top: 377px;
  left: 502px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_2 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_36 {
  position: absolute;
  top: 383px;
  left: 576px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_36 span#rtr-s-Text_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_3 {
  position: absolute;
  top: 377px;
  left: 775px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_3 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_37 {
  position: absolute;
  top: 383px;
  left: 841px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_37 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_37 span#rtr-s-Text_37_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_4 {
  position: absolute;
  top: 377px;
  left: 1047px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_4 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_38 {
  position: absolute;
  top: 383px;
  left: 1121px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_38 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_38 span#rtr-s-Text_38_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_5 {
  position: absolute;
  top: 723px;
  left: 235px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_5 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_39 {
  position: absolute;
  top: 729px;
  left: 309px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_39 span#rtr-s-Text_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_6 {
  position: absolute;
  top: 723px;
  left: 507px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_6 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_40 {
  position: absolute;
  top: 729px;
  left: 576px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_40 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_40 span#rtr-s-Text_40_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_7 {
  position: absolute;
  top: 723px;
  left: 780px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_7 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_41 {
  position: absolute;
  top: 729px;
  left: 854px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_41 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_41 span#rtr-s-Text_41_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_8 {
  position: absolute;
  top: 723px;
  left: 1052px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_8 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_42 {
  position: absolute;
  top: 729px;
  left: 1126px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_42 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_42 span#rtr-s-Text_42_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_9 {
  position: absolute;
  top: 172px;
  left: 211px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_10 {
  position: absolute;
  top: 172px;
  left: 754px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_11 {
  position: absolute;
  top: 516px;
  left: 483px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_3 {
  position: absolute;
  top: 112px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_11 {
  position: absolute;
  top: 129px;
  left: 11px;
  cursor: pointer;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_24 {
  position: absolute;
  top: 147px;
  left: 11px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_16 {
  position: absolute;
  top: 128px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_44 {
  position: absolute;
  top: 146px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_26 {
  position: absolute;
  top: 164px;
  left: 11px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_45 {
  position: absolute;
  top: 163px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_47 {
  position: absolute;
  top: 203px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_47 span#rtr-s-Text_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_35 {
  position: absolute;
  top: 220px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Input_36 {
  position: absolute;
  top: 238px;
  left: 10px;
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_48 {
  position: absolute;
  top: 219px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_48 span#rtr-s-Text_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_49 {
  position: absolute;
  top: 237px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_49 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_49 span#rtr-s-Text_49_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_14 {
  position: absolute;
  top: 22px;
  left: 3px;
  width: 240px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_46 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_46 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_46 span#rtr-s-Text_46_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Group_1 {
  position: absolute;
  top: 24px;
  left: 820px;
  width: 525px;
  height: 42px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 17px;
  width: 507px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Panel_2 {
  width: 525px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Panel_2 .ghostHLayout {
  width: calc(532px);
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_7 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_7 span#rtr-s-Label_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_2 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_2 span#rtr-s-Label_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_2 span#rtr-s-Label_2_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_3 {
  width: 75px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_1 {
  width: 66px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_4 {
  width: 80px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_12 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 1345px;
  height: 994px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.83;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Dynamic_Panel_1 {
  position: absolute;
  top: 231px;
  left: 417px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Panel_1 {
  width: 546px;
  height: 208px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 541px;
  height: 202px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_57 {
  position: absolute;
  top: 37px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_57 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_57 span#rtr-s-Text_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Customer-Select_3 {
  position: absolute;
  top: 76px;
  left: 173px;
  width: 184px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Customer-Select_3 .valign {
  width: 166px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Customer-Select_4 {
  position: absolute;
  top: 107px;
  left: 173px;
  width: 184px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Customer-Select_4 .valign {
  width: 166px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Button_1 {
  position: absolute;
  top: 143px;
  left: 184px;
  width: 153px;
  height: 23px;
  background-color: #6E2C89;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6E2C89;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6E2C89;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6E2C89;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6E2C89;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_43 {
  position: absolute;
  top: 2px;
  left: 1214px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_43 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_43 span#rtr-s-Text_43_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c #s-Text_43 span#rtr-s-Text_43_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5f412310-0af9-462b-a8f5-f46cb1f31e7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}