#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 148px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Panel_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 306px;
  height: 30px;
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-63fdf96d-7f58-42cd-997e-788220726745 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}