#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Line_2 {
  rotation: 90.0;
  margin-left: 454px;
  margin-top: -456px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fc14fd2-60fa-45fc-8587-d77ccd98071d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}