#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_8 {
  rotation: 90.0;
  margin-left: 138px;
  margin-top: -139px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_13 {
  rotation: 90.0;
  margin-left: 138px;
  margin-top: -139px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}