#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #0079FF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #0079FF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #0079FF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #0079FF;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #38C09B;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #38C09B;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #38C09B;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #38C09B;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_3 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #3077B8;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #3077B8;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3077B8;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #3077B8;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #787878;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #787878;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #787878;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #82C202;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #82C202;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #82C202;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #82C202;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #F5A100;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #F5A100;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #F5A100;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #F5A100;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF8300;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF8300;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF8300;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF8300;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #E6242D;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #E6242D;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #E6242D;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #E6242D;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #7B7C7C;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #7B7C7C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #7B7C7C;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #7B7C7C;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D2B361;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D2B361;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D2B361;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(90.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(90.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Table_3 {
  border-collapse: separate;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Table_4 {
  border-collapse: separate;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #679868;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #679868;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #679868;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #679868;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 144px;
  height: 22px;
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(90.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D2B361;
  -ms-transform: rotate(90.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_10 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_11 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_13 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Button_14 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-73c7c0cf-7f02-4824-8e07-2e47e872d956 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}