#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_1 {
  position: absolute;
  top: -2px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Line_2 {
  position: absolute;
  top: 567px;
  left: -274px;
  width: 913px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_1 {
  position: absolute;
  top: 111px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 168px;
  left: 52px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_1 {
  width: 134px;
  height: 313px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_1 .Panel_1 > *:last-child {
  margin-bottom: 0;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_1 .Panel_1 > * {
  margin-bottom: 6px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_5 {
  padding-left: 17px;
  width: 112px;
  height: 24px;
  background-color: #0088CC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0088CC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0088CC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0088CC;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_6 {
  padding-left: 17px;
  width: 113px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_6 span {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_7 {
  padding-left: 17px;
  width: 113px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_7 span {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Table_2 {
  position: absolute;
  top: 168px;
  left: 278px;
  width: 884px;
  height: 272px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_17 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 387px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_25 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 114px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 265px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_18 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_22 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_26 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_26 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_19 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_23 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_27 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_20 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_24 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_28 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_11 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_13 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_14 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_15 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_29 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_30 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_31 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_32 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_33 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_34 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_34 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_35 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_36 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_37 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_38 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 389px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_38 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_39 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 116px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_40 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 267px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Button_1 {
  position: absolute;
  top: 121px;
  left: 1012px;
  width: 177px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Group_27 {
  position: absolute;
  top: 446px;
  left: 1090px;
  width: 86px;
  height: 25px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 34px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_40 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_41 {
  position: absolute;
  top: 0px;
  left: 44px;
  width: 36px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_41 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_41 span#rtr-s-Label_41_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_2 {
  position: absolute;
  top: 201px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_3 {
  position: absolute;
  top: 228px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_4 {
  position: absolute;
  top: 256px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_5 {
  position: absolute;
  top: 284px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_6 {
  position: absolute;
  top: 309px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_7 {
  position: absolute;
  top: 336px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_8 {
  position: absolute;
  top: 362px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_9 {
  position: absolute;
  top: 390px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_10 {
  position: absolute;
  top: 417px;
  left: 995px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_11 {
  position: absolute;
  top: 200px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_12 {
  position: absolute;
  top: 227px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_13 {
  position: absolute;
  top: 254px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_14 {
  position: absolute;
  top: 281px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_15 {
  position: absolute;
  top: 308px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_16 {
  position: absolute;
  top: 335px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_17 {
  position: absolute;
  top: 362px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_18 {
  position: absolute;
  top: 389px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_20 {
  position: absolute;
  top: 415px;
  left: 1023px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_19 {
  position: absolute;
  top: 261px;
  left: 861px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_21 {
  position: absolute;
  top: 260px;
  left: 893px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_22 {
  position: absolute;
  top: 285px;
  left: 860px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_23 {
  position: absolute;
  top: 284px;
  left: 892px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_24 {
  position: absolute;
  top: 309px;
  left: 860px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_25 {
  position: absolute;
  top: 308px;
  left: 892px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_26 {
  position: absolute;
  top: 334px;
  left: 860px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_27 {
  position: absolute;
  top: 333px;
  left: 892px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_28 {
  position: absolute;
  top: 358px;
  left: 860px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Image_29 {
  position: absolute;
  top: 357px;
  left: 892px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Group_6 {
  position: absolute;
  top: 130px;
  left: 371px;
  width: 572px;
  height: 329px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 556px;
  height: 37px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 37px;
  left: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_4 {
  width: 570px;
  height: 290px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_7 {
  position: absolute;
  top: 32px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_62 {
  position: absolute;
  top: 248px;
  left: 463px;
  width: 60px;
  height: 12px;
  background-color: #5BC0DE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_62 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Input_2 {
  position: absolute;
  top: 21px;
  left: 57px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_63 {
  position: absolute;
  top: 248px;
  left: 15px;
  width: 98px;
  height: 12px;
  background-color: #5BC0DE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_63 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_63 span#rtr-s-Label_63_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Hotspot_2 {
  position: absolute;
  top: 246px;
  left: 460px;
  width: 76px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_10 {
  position: absolute;
  top: 140px;
  left: 922px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Hotspot_1 {
  position: absolute;
  top: 138px;
  left: 918px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Rectangle_1 {
  position: absolute;
  top: 22px;
  left: 3px;
  width: 240px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_9 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 26px;
  left: 649px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_2 {
  width: 698px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Panel_2 .ghostHLayout {
  width: calc(705px);
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_8 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_9 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_10 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_11 {
  width: 72px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_3 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_12 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_4 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_2 {
  width: 96px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-75963702-1f54-4fdf-a7aa-6684ddd180b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}