#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57) ;
  filter: alpha(opacity=57) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-842e7a3c-e3da-49b2-bd59-f30ea0b1d9cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}