#s-84ccef2a-002c-4702-abdc-665bf9307246 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Group_1 {
  position: absolute;
  top: 23px;
  left: 993px;
  width: 355px;
  height: 42px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 10px;
  width: 343px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_2 {
  width: 355px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_2 .ghostHLayout {
  width: calc(362px);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_7 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_2 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_2 span#rtr-s-Label_2_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_1 {
  width: 67px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Line_2 {
  position: absolute;
  top: 567px;
  left: -282px;
  width: 913px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_1 {
  position: absolute;
  top: 223px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_2 {
  position: absolute;
  top: 419px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_6 {
  position: absolute;
  top: 437px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_7 {
  position: absolute;
  top: 455px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_8 {
  position: absolute;
  top: 473px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_9 {
  position: absolute;
  top: 491px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_10 {
  position: absolute;
  top: 508px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_10 {
  position: absolute;
  top: 436px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_11 {
  position: absolute;
  top: 454px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_12 {
  position: absolute;
  top: 472px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_13 {
  position: absolute;
  top: 491px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_14 {
  position: absolute;
  top: 508px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_15 {
  position: absolute;
  top: 524px;
  left: 91px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_15 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_17 {
  position: absolute;
  top: 543px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_12 {
  position: absolute;
  top: 560px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_13 {
  position: absolute;
  top: 578px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_14 {
  position: absolute;
  top: 596px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_15 {
  position: absolute;
  top: 614px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_16 {
  position: absolute;
  top: 631px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_18 {
  position: absolute;
  top: 559px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_19 {
  position: absolute;
  top: 577px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_20 {
  position: absolute;
  top: 595px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_21 {
  position: absolute;
  top: 613px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_22 {
  position: absolute;
  top: 630px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_23 {
  position: absolute;
  top: 651px;
  left: 94px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_23 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_24 {
  position: absolute;
  top: 665px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_17 {
  position: absolute;
  top: 682px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_18 {
  position: absolute;
  top: 700px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_19 {
  position: absolute;
  top: 718px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_20 {
  position: absolute;
  top: 736px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_21 {
  position: absolute;
  top: 753px;
  left: 12px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_25 {
  position: absolute;
  top: 681px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_26 {
  position: absolute;
  top: 699px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_27 {
  position: absolute;
  top: 717px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_28 {
  position: absolute;
  top: 735px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_29 {
  position: absolute;
  top: 752px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_30 {
  position: absolute;
  top: 774px;
  left: 94px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_30 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_31 {
  position: absolute;
  top: 802px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_32 {
  position: absolute;
  top: 823px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_22 {
  position: absolute;
  top: 823px;
  left: 58px;
  padding-left: 5px;
  width: 58px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_22 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_33 {
  position: absolute;
  top: 840px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_33 span#rtr-s-Text_33_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_23 {
  position: absolute;
  top: 840px;
  left: 58px;
  padding-left: 5px;
  width: 58px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_23 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_34 {
  position: absolute;
  top: 108px;
  left: 182px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Category_1 {
  position: absolute;
  top: 106px;
  left: 237px;
  width: 101px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Category_1 .valign {
  width: 83px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_2 {
  position: absolute;
  top: 172px;
  left: 210px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_3 {
  position: absolute;
  top: 172px;
  left: 482px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_4 {
  position: absolute;
  top: 172px;
  left: 754px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_5 {
  position: absolute;
  top: 172px;
  left: 1027px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_6 {
  position: absolute;
  top: 516px;
  left: 211px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_7 {
  position: absolute;
  top: 516px;
  left: 483px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_8 {
  position: absolute;
  top: 516px;
  left: 755px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_9 {
  position: absolute;
  top: 516px;
  left: 1028px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_35 {
  position: absolute;
  top: 382px;
  left: 309px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_35 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_36 {
  position: absolute;
  top: 383px;
  left: 576px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_37 {
  position: absolute;
  top: 383px;
  left: 841px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_37 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_38 {
  position: absolute;
  top: 383px;
  left: 1121px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_38 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_39 {
  position: absolute;
  top: 729px;
  left: 309px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_40 {
  position: absolute;
  top: 729px;
  left: 576px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_40 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_41 {
  position: absolute;
  top: 729px;
  left: 854px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_41 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_42 {
  position: absolute;
  top: 729px;
  left: 1126px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_42 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_9 {
  position: absolute;
  top: 172px;
  left: 211px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_10 {
  position: absolute;
  top: 172px;
  left: 754px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_11 {
  position: absolute;
  top: 516px;
  left: 483px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_3 {
  position: absolute;
  top: 136px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_11 {
  position: absolute;
  top: 153px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_24 {
  position: absolute;
  top: 171px;
  left: 10px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_16 {
  position: absolute;
  top: 152px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_16 span#rtr-s-Text_16_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_44 {
  position: absolute;
  top: 170px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 241px;
  left: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_4 {
  width: 180px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_51 {
  position: absolute;
  top: 80px;
  left: 96px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_51 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_8 {
  position: absolute;
  top: 67px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_7 {
  position: absolute;
  top: 51px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_6 {
  position: absolute;
  top: 35px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_5 {
  position: absolute;
  top: 19px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_4 {
  position: absolute;
  top: 3px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_5 {
  position: absolute;
  top: 68px;
  left: 6px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_4 {
  position: absolute;
  top: 52px;
  left: 6px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_3 {
  position: absolute;
  top: 36px;
  left: 6px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_2 {
  position: absolute;
  top: 20px;
  left: 6px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_1 {
  position: absolute;
  top: 4px;
  left: 6px;
  cursor: pointer;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_5 {
  width: 180px;
  height: 144px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 244px;
  left: 6px;
  display: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_3 {
  width: 180px;
  height: 144px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_59 {
  position: absolute;
  top: 0px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_59 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_59 span#rtr-s-Text_59_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_43 {
  position: absolute;
  top: 129px;
  left: 87px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_43 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_60 {
  position: absolute;
  top: 69px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_60 span#rtr-s-Text_60_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_61 {
  position: absolute;
  top: 85px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_61 span#rtr-s-Text_61_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_62 {
  position: absolute;
  top: 101px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_62 span#rtr-s-Text_62_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_50 {
  position: absolute;
  top: 117px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_50 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_45 {
  position: absolute;
  top: 118px;
  left: 0px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_46 {
  position: absolute;
  top: 102px;
  left: 0px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_47 {
  position: absolute;
  top: 86px;
  left: 0px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_48 {
  position: absolute;
  top: 70px;
  left: 0px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_49 {
  position: absolute;
  top: 1px;
  left: 0px;
  cursor: pointer;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_63 {
  position: absolute;
  top: 51px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_63 span#rtr-s-Text_63_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_64 {
  position: absolute;
  top: 34px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_64 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_64 span#rtr-s-Text_64_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_65 {
  position: absolute;
  top: 18px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_65 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_65 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_65 span#rtr-s-Text_65_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_50 {
  position: absolute;
  top: 52px;
  left: 25px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_51 {
  position: absolute;
  top: 36px;
  left: 25px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Input_52 {
  position: absolute;
  top: 20px;
  left: 25px;
  box-shadow: none;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_1 {
  position: absolute;
  top: 22px;
  left: 3px;
  width: 240px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_9 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_45 {
  position: absolute;
  top: 3px;
  left: 1228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_45 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}