#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-84ccef2a-002c-4702-abdc-665bf9307246 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}