#s-86d0664d-6275-4d0a-b14e-6f431b938065 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_2 {
  position: absolute;
  top: 97px;
  left: 555px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_4 {
  position: absolute;
  top: 124px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Table_1 {
  position: absolute;
  top: 202px;
  left: 62px;
  width: 1228px;
  height: 297px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_1 {
  padding-left: 12px;
  width: 229px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_1 span#rtr-s-Text_cell_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_7 {
  padding-left: 12px;
  width: 162px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_10 {
  padding-left: 12px;
  width: 154px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_10 span#rtr-s-Text_cell_10_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_13 {
  padding-left: 12px;
  width: 138px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_41 {
  padding-left: 12px;
  width: 118px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_49 {
  padding-left: 12px;
  width: 89px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_49 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_49 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_49 span#rtr-s-Text_cell_49_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_4 {
  padding-left: 12px;
  width: 132px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_57 {
  padding-left: 12px;
  width: 101px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_57 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_57 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_57 span#rtr-s-Text_cell_57_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_2 {
  padding-left: 12px;
  width: 229px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_8 {
  padding-left: 12px;
  width: 162px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_11 {
  padding-left: 12px;
  width: 154px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_14 {
  padding-left: 12px;
  width: 138px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_42 {
  padding-left: 12px;
  width: 118px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_42 span#rtr-s-Text_cell_42_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_50 {
  padding-left: 12px;
  width: 89px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_50 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_50 span#rtr-s-Text_cell_50_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_5 {
  padding-left: 12px;
  width: 132px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_58 {
  padding-left: 12px;
  width: 101px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_58 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_58 span#rtr-s-Text_cell_58_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_3 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_9 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_12 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_15 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_43 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_43 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_43 span#rtr-s-Text_cell_43_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_51 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_51 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_51 span#rtr-s-Text_cell_51_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_6 {
  padding-left: 12px;
  width: 132px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_59 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_59 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_59 span#rtr-s-Text_cell_59_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_16 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_18 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_19 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_20 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_44 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_44 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_52 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_52 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_52 span#rtr-s-Text_cell_52_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_17 {
  padding-left: 12px;
  width: 132px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_60 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_60 span#rtr-s-Text_cell_60_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_21 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_23 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_24 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_25 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_45 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_45 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_53 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_53 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_53 span#rtr-s-Text_cell_53_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_22 {
  padding-left: 12px;
  width: 132px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_61 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_61 span#rtr-s-Text_cell_61_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_26 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_28 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_29 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_30 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_46 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_46 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_54 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_54 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_54 span#rtr-s-Text_cell_54_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_27 {
  padding-left: 12px;
  width: 132px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_62 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_62 span#rtr-s-Text_cell_62_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_31 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_33 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_34 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_35 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_47 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_47 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_55 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_55 span#rtr-s-Text_cell_55_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_32 {
  padding-left: 12px;
  width: 132px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_63 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_63 span#rtr-s-Text_cell_63_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_36 {
  padding-left: 12px;
  width: 229px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_38 {
  padding-left: 12px;
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_39 {
  padding-left: 12px;
  width: 154px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_40 {
  padding-left: 12px;
  width: 138px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_48 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_48 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_48 span#rtr-s-Text_cell_48_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_56 {
  padding-left: 12px;
  width: 89px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_56 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_56 span#rtr-s-Text_cell_56_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_37 {
  padding-left: 12px;
  width: 132px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_64 {
  padding-left: 12px;
  width: 101px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_64 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_cell_64 span#rtr-s-Text_cell_64_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_2 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_2 {
  position: absolute;
  top: 245px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_3 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_3 {
  position: absolute;
  top: 246px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_4 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_4 {
  position: absolute;
  top: 285px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_5 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_5 {
  position: absolute;
  top: 285px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_6 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_6 {
  position: absolute;
  top: 320px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_7 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_7 {
  position: absolute;
  top: 320px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_8 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_8 {
  position: absolute;
  top: 357px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_9 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_9 {
  position: absolute;
  top: 357px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_10 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_10 {
  position: absolute;
  top: 396px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_11 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_11 {
  position: absolute;
  top: 396px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_12 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_12 {
  position: absolute;
  top: 433px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_13 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_13 {
  position: absolute;
  top: 434px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_14 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_14 {
  position: absolute;
  top: 470px;
  left: 1209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_15 > svg {
  width: 24px;
  height: 24px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_15 {
  position: absolute;
  top: 471px;
  left: 1237px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_16 {
  position: absolute;
  top: 212px;
  left: 271px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_17 {
  position: absolute;
  top: 211px;
  left: 459px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_18 {
  position: absolute;
  top: 212px;
  left: 619px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Button_1 {
  position: absolute;
  top: 146px;
  left: 1067px;
  width: 177px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_3 {
  position: absolute;
  top: 99px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_21 {
  position: absolute;
  top: 211px;
  left: 906px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Group_1 {
  position: absolute;
  top: 23px;
  left: 1005px;
  width: 343px;
  height: 42px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 343px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Panel_2 {
  width: 343px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Panel_2 .ghostHLayout {
  width: calc(350px);
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_8 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_7 {
  padding-top: 3px;
  width: 59px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_7 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Image_22 {
  position: absolute;
  top: 212px;
  left: 778px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_43 {
  position: absolute;
  top: 3px;
  left: 1228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_43 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_5 {
  position: absolute;
  top: 137px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_6 {
  position: absolute;
  top: 138px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_7 {
  position: absolute;
  top: 137px;
  left: 471px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_8 {
  position: absolute;
  top: 138px;
  left: 707px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_9 {
  position: absolute;
  top: 162px;
  left: 65px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_10 {
  position: absolute;
  top: 163px;
  left: 297px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_11 {
  position: absolute;
  top: 162px;
  left: 472px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_12 {
  position: absolute;
  top: 163px;
  left: 707px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86d0664d-6275-4d0a-b14e-6f431b938065 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}