#s-8d6ab638-4bce-482f-b180-70d82e7df213 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 {
  position: absolute;
  top: 95px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 span#rtr-s-Text_43_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 25px;
  left: 173px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Panel_2 {
  width: 244px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Panel_2 .verticalalign {
  vertical-align: middle;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_29 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_30 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_30 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_31 {
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_1 {
  position: absolute;
  top: 168px;
  left: 150px;
  width: 1045px;
  height: 299px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_2 {
  position: absolute;
  top: 190px;
  left: 210px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_1 {
  position: absolute;
  top: 205px;
  left: 837px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_1 {
  position: absolute;
  top: 258px;
  left: 747px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_1 {
  position: absolute;
  top: 398px;
  left: 896px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Line_1 {
  position: absolute;
  top: 1783px;
  left: 428px;
  width: 200px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_2 {
  position: absolute;
  top: 492px;
  left: 150px;
  width: 1045px;
  height: 299px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_2 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_3 {
  position: absolute;
  top: 514px;
  left: 210px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_2 {
  position: absolute;
  top: 529px;
  left: 837px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_2 {
  position: absolute;
  top: 582px;
  left: 747px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 {
  position: absolute;
  top: 722px;
  left: 896px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 span#rtr-s-Button_2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_3 {
  position: absolute;
  top: 817px;
  left: 151px;
  width: 1045px;
  height: 299px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_3 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_4 {
  position: absolute;
  top: 839px;
  left: 211px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 {
  position: absolute;
  top: 854px;
  left: 838px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_3 {
  position: absolute;
  top: 907px;
  left: 748px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_3 {
  position: absolute;
  top: 1047px;
  left: 897px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_4 {
  position: absolute;
  top: 1136px;
  left: 151px;
  width: 1045px;
  height: 299px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_5 {
  position: absolute;
  top: 1158px;
  left: 211px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_4 {
  position: absolute;
  top: 1173px;
  left: 834px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_4 {
  position: absolute;
  top: 1226px;
  left: 748px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_4 {
  position: absolute;
  top: 1366px;
  left: 897px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_5 {
  position: absolute;
  top: 1461px;
  left: 152px;
  width: 1045px;
  height: 299px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_5 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_6 {
  position: absolute;
  top: 1483px;
  left: 212px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_5 {
  position: absolute;
  top: 1498px;
  left: 839px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_5 {
  position: absolute;
  top: 1551px;
  left: 749px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_5 {
  position: absolute;
  top: 1691px;
  left: 898px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_6 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Hotspot_1 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 179px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}