#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}