#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Panel_2 > .valign {
  vertical-align: middle;
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Label_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 0px 0px;
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-8d6ab638-4bce-482f-b180-70d82e7df213 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}