#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Panel_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 306px;
  height: 30px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}