#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9240d9b5-29b6-457e-9d2c-b8fb0f4e3fac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}