#s-9c0387ff-766a-487f-8264-526adbbf207e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_7 {
  position: absolute;
  top: 171px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_8 {
  position: absolute;
  top: 171px;
  left: 792px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_9 {
  position: absolute;
  top: 227px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_10 {
  position: absolute;
  top: 227px;
  left: 792px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_11 {
  position: absolute;
  top: 260px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_12 {
  position: absolute;
  top: 254px;
  left: 792px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_15 {
  position: absolute;
  top: 324px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_16 {
  position: absolute;
  top: 395px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_17 {
  position: absolute;
  top: 424px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_18 {
  position: absolute;
  top: 452px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_19 {
  position: absolute;
  top: 481px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_20 {
  position: absolute;
  top: 511px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_26 {
  position: absolute;
  top: 170px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_27 {
  position: absolute;
  top: 172px;
  left: 993px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_27 span#rtr-s-Text_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_28 {
  position: absolute;
  top: 227px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_29 {
  position: absolute;
  top: 259px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_30 {
  position: absolute;
  top: 253px;
  left: 992px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_30 span#rtr-s-Text_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_31 {
  position: absolute;
  top: 324px;
  left: 511px;
  width: 240px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_31 span#rtr-s-Text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_31 span#rtr-s-Text_31_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_32 {
  position: absolute;
  top: 452px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_33 {
  position: absolute;
  top: 481px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_34 {
  position: absolute;
  top: 424px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_35 {
  position: absolute;
  top: 511px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Button_1 {
  position: absolute;
  top: 84px;
  left: 1146px;
  width: 148px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Dynamic_Panel_4 {
  position: absolute;
  top: 71px;
  left: 45px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_4 {
  width: 306px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_4 .verticalalign {
  vertical-align: middle;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_4 .Panel_4 > * {
  margin-right: 6px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_4 .ghostHLayout {
  width: calc(316px);
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_29 {
  padding-left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_29 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_29 span#rtr-s-Label_29_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_32 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_32 span#rtr-s-Label_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_37 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_37 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_37 span#rtr-s-Label_37_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_38 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_38 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_38 span#rtr-s-Text_38_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_49 {
  position: absolute;
  top: 293px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_49 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_49 span#rtr-s-Text_49_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_51 {
  position: absolute;
  top: 293px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_51 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_51 span#rtr-s-Text_51_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_2 {
  position: absolute;
  top: 150px;
  left: 40px;
  width: 146px;
  height: 172px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_36 {
  position: absolute;
  top: 292px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Image_2 {
  position: absolute;
  top: 170px;
  left: 54px;
  width: 117px;
  height: 115px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_14 {
  position: absolute;
  top: 198px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_37 {
  position: absolute;
  top: 198px;
  left: 511px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_37 span#rtr-s-Text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_13 {
  position: absolute;
  top: 198px;
  left: 792px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_39 {
  position: absolute;
  top: 199px;
  left: 992px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_3 {
  position: absolute;
  top: 104px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_3 span#rtr-s-Text_3_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Dynamic_Panel_2 {
  position: absolute;
  top: 26px;
  left: 649px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_2 {
  width: 698px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Panel_2 .ghostHLayout {
  width: calc(705px);
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_7 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_10 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_11 {
  width: 72px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_11 span#rtr-s-Label_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_3 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_5 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_4 {
  width: 71px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_4 span#rtr-s-Label_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_2 {
  padding-top: 3px;
  width: 100px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_2 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Label_2 span#rtr-s-Label_2_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_21 {
  position: absolute;
  top: 281px;
  left: 793px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_40 {
  position: absolute;
  top: 280px;
  left: 993px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e #s-Text_40 span#rtr-s-Text_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9c0387ff-766a-487f-8264-526adbbf207e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}