#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}