#s-9e0e72f4-eb07-47fc-8f92-56689676df9e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_43 {
  position: absolute;
  top: 107px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_43 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_43 span#rtr-s-Text_43_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Dynamic_Panel_2 {
  position: absolute;
  top: 25px;
  left: 173px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Panel_2 {
  width: 237px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Panel_2 .verticalalign {
  vertical-align: middle;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_29 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_29 span#rtr-s-Label_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_30 {
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_30 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_30 span#rtr-s-Label_30_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_31 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_31 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_1 {
  position: absolute;
  top: 198px;
  left: 150px;
  width: 1045px;
  height: 299px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_2 {
  position: absolute;
  top: 538px;
  left: 150px;
  width: 1045px;
  height: 299px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_3 {
  position: absolute;
  top: 874px;
  left: 150px;
  width: 1045px;
  height: 299px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_2 {
  position: absolute;
  top: 220px;
  left: 210px;
  width: 409px;
  height: 251px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_3 {
  position: absolute;
  top: 559px;
  left: 747px;
  width: 413px;
  height: 262px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Image_4 {
  position: absolute;
  top: 895px;
  left: 189px;
  width: 361px;
  height: 262px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_1 {
  position: absolute;
  top: 235px;
  left: 837px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_1 {
  position: absolute;
  top: 288px;
  left: 747px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_1 {
  position: absolute;
  top: 428px;
  left: 896px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_2 {
  position: absolute;
  top: 571px;
  left: 357px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_2 {
  position: absolute;
  top: 624px;
  left: 267px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_2 {
  position: absolute;
  top: 764px;
  left: 416px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_3 {
  position: absolute;
  top: 895px;
  left: 861px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_3 {
  position: absolute;
  top: 948px;
  left: 721px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_3 {
  position: absolute;
  top: 1088px;
  left: 870px;
  width: 114px;
  height: 27px;
  background-color: #794A7B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Line_1 {
  position: absolute;
  top: 1198px;
  left: 439px;
  width: 200px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Hotspot_1 {
  position: absolute;
  top: 425px;
  left: 895px;
  width: 115px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Hotspot_2 {
  position: absolute;
  top: 760px;
  left: 415px;
  width: 115px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Hotspot_3 {
  position: absolute;
  top: 1084px;
  left: 869px;
  width: 115px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_4 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e #s-Hotspot_4 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 179px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9e0e72f4-eb07-47fc-8f92-56689676df9e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}