#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
  filter: alpha(opacity=57);
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Table_1 {
  border-collapse: separate;
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6E2C89;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6E2C89;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6E2C89;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 17px;
  width: 113px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 17px;
  width: 112px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Table_2 {
  border-collapse: separate;
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Button_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-9ea92e9f-f86c-4adc-a9b8-31fcfab9b928 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}