#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_2 {
  position: absolute;
  top: 97px;
  left: 555px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_4 {
  position: absolute;
  top: 124px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_7 {
  position: absolute;
  top: 179px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_2 {
  position: absolute;
  top: 175px;
  left: 248px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_3 {
  position: absolute;
  top: 119px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_8 {
  position: absolute;
  top: 179px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_3 {
  position: absolute;
  top: 175px;
  left: 621px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_9 {
  position: absolute;
  top: 214px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_4 {
  position: absolute;
  top: 210px;
  left: 248px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_10 {
  position: absolute;
  top: 214px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_5 {
  position: absolute;
  top: 210px;
  left: 621px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_11 {
  position: absolute;
  top: 249px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_6 {
  position: absolute;
  top: 245px;
  left: 248px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_12 {
  position: absolute;
  top: 249px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_7 {
  position: absolute;
  top: 245px;
  left: 621px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_14 {
  position: absolute;
  top: 284px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_8 {
  position: absolute;
  top: 280px;
  left: 248px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_15 {
  position: absolute;
  top: 322px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_9 {
  position: absolute;
  top: 318px;
  left: 248px;
  padding-left: 5px;
  width: 207px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_9 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_16 {
  position: absolute;
  top: 325px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_10 {
  position: absolute;
  top: 318px;
  left: 621px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_17 {
  position: absolute;
  top: 365px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_11 {
  position: absolute;
  top: 358px;
  left: 621px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_18 {
  position: absolute;
  top: 394px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_19 {
  position: absolute;
  top: 397px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_20 {
  position: absolute;
  top: 397px;
  left: 884px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_1 {
  position: absolute;
  top: 394px;
  left: 248px;
  width: 213px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_1 .valign {
  width: 195px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_2 {
  position: absolute;
  top: 393px;
  left: 621px;
  width: 213px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_2 .valign {
  width: 195px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_3 {
  position: absolute;
  top: 394px;
  left: 971px;
  width: 213px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_3 .valign {
  width: 195px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Image_2 {
  position: absolute;
  top: 164px;
  left: 1060px;
  width: 100px;
  height: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_1 {
  position: absolute;
  top: 276px;
  left: 1060px;
  width: 95px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_5 {
  position: absolute;
  top: 441px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_21 {
  position: absolute;
  top: 441px;
  left: 263px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_22 {
  position: absolute;
  top: 440px;
  left: 373px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_23 {
  position: absolute;
  top: 441px;
  left: 523px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Group_2 {
  position: absolute;
  top: 443px;
  left: 244px;
  width: 409px;
  height: 13px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Radio_button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  box-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Radio_button_2 {
  position: absolute;
  top: 0px;
  left: 113px;
  cursor: pointer;
  box-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Radio_button_3 {
  position: absolute;
  top: 0px;
  left: 262px;
  cursor: pointer;
  box-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Radio_button_4 {
  position: absolute;
  top: 0px;
  left: 396px;
  cursor: pointer;
  box-shadow: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_25 {
  position: absolute;
  top: 442px;
  left: 659px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_2 {
  position: absolute;
  top: 503px;
  left: 1042px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_3 {
  position: absolute;
  top: 503px;
  left: 1124px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 71px;
  left: 45px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_4 {
  width: 306px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_4 .verticalalign {
  vertical-align: middle;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_4 .Panel_4 > * {
  margin-right: 6px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_4 .ghostHLayout {
  width: calc(316px);
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_29 {
  padding-left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_29 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_32 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_37 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_37 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_24 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_24 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Hotspot_1 {
  position: absolute;
  top: 20px;
  left: 6px;
  width: 179px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_6 {
  position: absolute;
  top: 471px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_4 {
  position: absolute;
  top: 470px;
  left: 315px;
  width: 147px;
  display: none;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Category_4 .valign {
  width: 129px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 26px;
  left: 649px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_2 {
  width: 698px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Panel_2 .ghostHLayout {
  width: calc(705px);
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_7 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_10 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_11 {
  width: 72px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_3 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_5 {
  width: 75px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_4 {
  width: 71px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_2 {
  padding-top: 3px;
  width: 100px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_2 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fd81e90-b7a6-430c-9943-1f735e84b0a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}