#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Panel_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 173px;
  height: 30px;
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_60 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 149px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_61 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 149px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0) alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_62 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 79px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc9194cf-4d3e-49e0-829b-adaa213c7cf7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}