#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_2 {
  rotation: 90.0;
  margin-left: 454px;
  margin-top: -456px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}