#s-be5e8282-09ce-44d0-90c1-3492763211b3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_1 {
  position: absolute;
  top: -2px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Group_1 {
  position: absolute;
  top: 24px;
  left: 987px;
  width: 354px;
  height: 42px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 354px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_2 {
  width: 354px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_2 .ghostHLayout {
  width: calc(361px);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_1 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_3 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_3 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_4 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_4 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_2 {
  padding-top: 5px;
  width: 73px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 0px 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_2 {
  position: absolute;
  top: 567px;
  left: -274px;
  width: 913px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_1 {
  position: absolute;
  top: 111px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 168px;
  left: 52px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_1 {
  width: 134px;
  height: 313px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_1 .Panel_1 > *:last-child {
  margin-bottom: 0;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_1 .Panel_1 > * {
  margin-bottom: 6px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_6 {
  padding-left: 17px;
  width: 113px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_6 span {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 {
  padding-left: 17px;
  width: 112px;
  height: 24px;
  background-color: #0088CC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0088CC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0088CC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0088CC;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 span#rtr-s-Label_8_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_7 {
  padding-left: 17px;
  width: 113px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_7 span {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #0088CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Table_2 {
  position: absolute;
  top: 168px;
  left: 315px;
  width: 874px;
  height: 218px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_17 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 50px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 538px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 248px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_18 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_22 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_19 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_23 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_20 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_24 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_13 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_14 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_29 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_30 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 540px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_32 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 250px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Button_1 {
  position: absolute;
  top: 122px;
  left: 1036px;
  width: 152px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Group_27 {
  position: absolute;
  top: 391px;
  left: 1103px;
  width: 86px;
  height: 25px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 34px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_40 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_41 {
  position: absolute;
  top: 0px;
  left: 44px;
  width: 36px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_41 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_41 span#rtr-s-Label_41_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_2 {
  position: absolute;
  top: 201px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_3 {
  position: absolute;
  top: 228px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_4 {
  position: absolute;
  top: 256px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_5 {
  position: absolute;
  top: 284px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_6 {
  position: absolute;
  top: 309px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_7 {
  position: absolute;
  top: 336px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_8 {
  position: absolute;
  top: 362px;
  left: 1034px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_11 {
  position: absolute;
  top: 200px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_12 {
  position: absolute;
  top: 227px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_13 {
  position: absolute;
  top: 254px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_14 {
  position: absolute;
  top: 281px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_15 {
  position: absolute;
  top: 308px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_16 {
  position: absolute;
  top: 335px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_17 {
  position: absolute;
  top: 362px;
  left: 1062px;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Hotspot_1 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 179px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}