#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 0px 0px;
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 73px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0088CC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0088CC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0088CC;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 17px;
  width: 112px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Table_2 {
  border-collapse: separate;
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 152px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 34px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Label_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 36px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-be5e8282-09ce-44d0-90c1-3492763211b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}