#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Line_2 {
  position: absolute;
  top: 645px;
  left: -260px;
  width: 913px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_1 {
  position: absolute;
  top: 194px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_2 {
  position: absolute;
  top: 450px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_1 {
  position: absolute;
  top: 214px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_2 {
  position: absolute;
  top: 232px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_3 {
  position: absolute;
  top: 250px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_4 {
  position: absolute;
  top: 268px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_5 {
  position: absolute;
  top: 285px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_4 {
  position: absolute;
  top: 213px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_5 {
  position: absolute;
  top: 231px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_6 {
  position: absolute;
  top: 249px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_7 {
  position: absolute;
  top: 267px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_8 {
  position: absolute;
  top: 284px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_9 {
  position: absolute;
  top: 297px;
  left: 107px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_9 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_6 {
  position: absolute;
  top: 469px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_7 {
  position: absolute;
  top: 487px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_8 {
  position: absolute;
  top: 505px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_9 {
  position: absolute;
  top: 523px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_10 {
  position: absolute;
  top: 540px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_10 {
  position: absolute;
  top: 468px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_11 {
  position: absolute;
  top: 487px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_12 {
  position: absolute;
  top: 504px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_13 {
  position: absolute;
  top: 523px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_14 {
  position: absolute;
  top: 540px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_15 {
  position: absolute;
  top: 556px;
  left: 107px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_15 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_17 {
  position: absolute;
  top: 585px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_12 {
  position: absolute;
  top: 602px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_13 {
  position: absolute;
  top: 620px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_14 {
  position: absolute;
  top: 638px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_15 {
  position: absolute;
  top: 656px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_16 {
  position: absolute;
  top: 673px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_18 {
  position: absolute;
  top: 601px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_19 {
  position: absolute;
  top: 619px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_20 {
  position: absolute;
  top: 637px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_21 {
  position: absolute;
  top: 655px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_22 {
  position: absolute;
  top: 672px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_23 {
  position: absolute;
  top: 685px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_23 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_24 {
  position: absolute;
  top: 714px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_17 {
  position: absolute;
  top: 732px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_18 {
  position: absolute;
  top: 750px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_19 {
  position: absolute;
  top: 768px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_20 {
  position: absolute;
  top: 786px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_21 {
  position: absolute;
  top: 803px;
  left: 26px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_25 {
  position: absolute;
  top: 731px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_26 {
  position: absolute;
  top: 749px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_27 {
  position: absolute;
  top: 767px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_28 {
  position: absolute;
  top: 785px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_29 {
  position: absolute;
  top: 802px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_30 {
  position: absolute;
  top: 815px;
  left: 109px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_30 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_31 {
  position: absolute;
  top: 851px;
  left: 21px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_31 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_32 {
  position: absolute;
  top: 872px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_32 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_22 {
  position: absolute;
  top: 872px;
  left: 70px;
  padding-left: 5px;
  width: 58px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_22 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_33 {
  position: absolute;
  top: 889px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_33 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_23 {
  position: absolute;
  top: 889px;
  left: 70px;
  padding-left: 5px;
  width: 58px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_23 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_34 {
  position: absolute;
  top: 196px;
  left: 1137px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Category_1 {
  position: absolute;
  top: 194px;
  left: 1192px;
  width: 101px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Category_1 .valign {
  width: 83px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_2 {
  position: absolute;
  top: 237px;
  left: 223px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_3 {
  position: absolute;
  top: 237px;
  left: 495px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_4 {
  position: absolute;
  top: 237px;
  left: 767px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_5 {
  position: absolute;
  top: 237px;
  left: 1040px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_6 {
  position: absolute;
  top: 581px;
  left: 224px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_7 {
  position: absolute;
  top: 581px;
  left: 496px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_8 {
  position: absolute;
  top: 581px;
  left: 768px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_9 {
  position: absolute;
  top: 581px;
  left: 1041px;
  width: 250px;
  height: 250px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_1 {
  position: absolute;
  top: 442px;
  left: 243px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_1 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_2 {
  position: absolute;
  top: 442px;
  left: 515px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_2 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_36 {
  position: absolute;
  top: 448px;
  left: 589px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_3 {
  position: absolute;
  top: 442px;
  left: 788px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_3 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_4 {
  position: absolute;
  top: 442px;
  left: 1060px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.48;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_4 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_38 {
  position: absolute;
  top: 448px;
  left: 1134px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_38 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_5 {
  position: absolute;
  top: 788px;
  left: 248px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_5 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_6 {
  position: absolute;
  top: 788px;
  left: 520px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_6 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_7 {
  position: absolute;
  top: 788px;
  left: 793px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_7 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_41 {
  position: absolute;
  top: 794px;
  left: 867px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_41 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_8 {
  position: absolute;
  top: 788px;
  left: 1065px;
  width: 209px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.46;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_8 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_42 {
  position: absolute;
  top: 794px;
  left: 1139px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_42 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_43 {
  position: absolute;
  top: 107px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 26px;
  left: 173px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Panel_2 {
  width: 237px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Panel_2 .verticalalign {
  vertical-align: middle;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_29 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_30 {
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_30 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_31 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_31 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Button_1 {
  position: absolute;
  top: 95px;
  left: 1234px;
  width: 30px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Image_10 {
  position: absolute;
  top: 98px;
  left: 1235px;
  width: 29px;
  height: 28px;
  opacity: 0.75;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_24 {
  position: absolute;
  top: 95px;
  left: 1021px;
  padding-left: 5px;
  width: 207px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_24 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_24 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_11 {
  position: absolute;
  top: 581px;
  left: 496px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_9 {
  position: absolute;
  top: 237px;
  left: 223px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_10 {
  position: absolute;
  top: 237px;
  left: 767px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_12 {
  position: absolute;
  top: 581px;
  left: 224px;
  width: 105px;
  height: 21px;
  background-color: #FC1268;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_44 {
  position: absolute;
  top: 181px;
  left: 653px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_3 {
  position: absolute;
  top: 316px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_11 {
  position: absolute;
  top: 335px;
  left: 27px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_25 {
  position: absolute;
  top: 353px;
  left: 27px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_26 {
  position: absolute;
  top: 371px;
  left: 27px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_27 {
  position: absolute;
  top: 389px;
  left: 27px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Input_28 {
  position: absolute;
  top: 406px;
  left: 27px;
  box-shadow: none;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_16 {
  position: absolute;
  top: 334px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_45 {
  position: absolute;
  top: 353px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_46 {
  position: absolute;
  top: 370px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_47 {
  position: absolute;
  top: 389px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_48 {
  position: absolute;
  top: 406px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_49 {
  position: absolute;
  top: 422px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_49 span {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #0000A0;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_35 {
  position: absolute;
  top: 448px;
  left: 305px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_35 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_37 {
  position: absolute;
  top: 448px;
  left: 867px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_37 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_39 {
  position: absolute;
  top: 794px;
  left: 321px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_40 {
  position: absolute;
  top: 793px;
  left: 591px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_40 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_13 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_50 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_50 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 #s-Hotspot_1 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 179px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-c6d4c233-dec6-4980-a388-e883e4bbe8b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}