#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Line_2 {
  rotation: 90.0;
  margin-left: 454px;
  margin-top: -456px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-caa0fc67-2b43-42a7-88cc-bf2ca6f7fdc8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}