#s-ce5b346a-2904-4724-a2b1-397bb374e184 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_1 {
  position: absolute;
  top: 97px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_2 {
  position: absolute;
  top: 97px;
  left: 555px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.57;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_4 {
  position: absolute;
  top: 124px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_7 {
  position: absolute;
  top: 211px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_2 {
  position: absolute;
  top: 207px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_3 {
  position: absolute;
  top: 111px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_8 {
  position: absolute;
  top: 211px;
  left: 564px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_3 {
  position: absolute;
  top: 207px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_9 {
  position: absolute;
  top: 246px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_4 {
  position: absolute;
  top: 242px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_10 {
  position: absolute;
  top: 246px;
  left: 564px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_5 {
  position: absolute;
  top: 242px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_11 {
  position: absolute;
  top: 281px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_6 {
  position: absolute;
  top: 277px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_12 {
  position: absolute;
  top: 281px;
  left: 564px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_7 {
  position: absolute;
  top: 277px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_15 {
  position: absolute;
  top: 459px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_9 {
  position: absolute;
  top: 455px;
  left: 316px;
  padding-left: 5px;
  width: 207px;
  height: 58px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_9 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_16 {
  position: absolute;
  top: 459px;
  left: 564px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_10 {
  position: absolute;
  top: 455px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_17 {
  position: absolute;
  top: 499px;
  left: 564px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_11 {
  position: absolute;
  top: 495px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_18 {
  position: absolute;
  top: 531px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_19 {
  position: absolute;
  top: 531px;
  left: 564px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_20 {
  position: absolute;
  top: 534px;
  left: 1007px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_1 {
  position: absolute;
  top: 531px;
  left: 315px;
  width: 214px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_1 .valign {
  width: 196px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_2 {
  position: absolute;
  top: 530px;
  left: 753px;
  width: 214px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_2 .valign {
  width: 196px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_3 {
  position: absolute;
  top: 530px;
  left: 1104px;
  width: 214px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_3 .valign {
  width: 196px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_3 {
  position: absolute;
  top: 693px;
  left: 1091px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_4 {
  position: absolute;
  top: 693px;
  left: 1173px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_21 {
  position: absolute;
  top: 148px;
  left: 124px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_8 {
  position: absolute;
  top: 144px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Line_2 {
  position: absolute;
  top: 897px;
  left: 621px;
  width: 200px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 71px;
  left: 45px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_4 {
  width: 306px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_4 .verticalalign {
  vertical-align: middle;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_4 .Panel_4 > * {
  margin-right: 6px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_4 .ghostHLayout {
  width: calc(316px);
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_29 {
  padding-left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_29 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_32 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_37 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_37 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_27 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_27 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_13 {
  position: absolute;
  top: 344px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_12 {
  position: absolute;
  top: 340px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_23 {
  position: absolute;
  top: 344px;
  left: 563px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_23 span#rtr-s-Text_23_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_13 {
  position: absolute;
  top: 340px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_13 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_24 {
  position: absolute;
  top: 379px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_14 {
  position: absolute;
  top: 375px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_14 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_25 {
  position: absolute;
  top: 379px;
  left: 563px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_15 {
  position: absolute;
  top: 375px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_26 {
  position: absolute;
  top: 414px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_16 {
  position: absolute;
  top: 410px;
  left: 315px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_16 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_16 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_28 {
  position: absolute;
  top: 414px;
  left: 563px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_17 {
  position: absolute;
  top: 410px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_17 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_29 {
  position: absolute;
  top: 316px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_30 {
  position: absolute;
  top: 341px;
  left: 1007px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_1 {
  position: absolute;
  top: 336px;
  left: 1104px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_1 .icon {
  top: 2px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_31 {
  position: absolute;
  top: 208px;
  left: 1007px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_19 {
  position: absolute;
  top: 203px;
  left: 1104px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_19 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_19 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_19 .icon {
  top: 2px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_20 {
  position: absolute;
  top: 318px;
  left: 315px;
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_5 {
  position: absolute;
  top: 316px;
  left: 339px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_32 {
  position: absolute;
  top: 186px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_32 span#rtr-s-Text_32_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Line_3 {
  position: absolute;
  top: 443px;
  left: 121px;
  width: 1173px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Line_4 {
  position: absolute;
  top: 309px;
  left: 121px;
  width: 1173px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Line_5 {
  position: absolute;
  top: 177px;
  left: 121px;
  width: 1173px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_33 {
  position: absolute;
  top: 572px;
  left: 563px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_21 {
  position: absolute;
  top: 572px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_21 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Rectangle_1 {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_14 {
  position: absolute;
  top: 146px;
  left: 563px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_18 {
  position: absolute;
  top: 142px;
  left: 753px;
  padding-left: 5px;
  width: 207px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_18 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Input_18 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_22 {
  position: absolute;
  top: 578px;
  left: 122px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_4 {
  position: absolute;
  top: 571px;
  left: 316px;
  width: 214px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Category_4 .valign {
  width: 196px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_43 {
  position: absolute;
  top: 2px;
  left: 1214px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_43 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Text_43 span#rtr-s-Text_43_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Group_1 {
  position: absolute;
  top: 24px;
  left: 809px;
  width: 540px;
  height: 42px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 17px;
  width: 521px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_2 {
  width: 540px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Panel_2 .ghostHLayout {
  width: calc(547px);
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_7 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_2 {
  width: 63px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_3 {
  width: 87px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_1 {
  width: 70px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_4 {
  width: 80px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce5b346a-2904-4724-a2b1-397bb374e184 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}