#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Line_2 {
  rotation: 90.0;
  margin-left: 454px;
  margin-top: -456px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dc4a4ef3-1474-4b76-8c51-754fca7c9caa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}