#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 55px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #0079FF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #0079FF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #0079FF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #0079FF;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #38C09B;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #38C09B;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #38C09B;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #38C09B;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_3 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #3077B8;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #3077B8;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3077B8;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #3077B8;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #787878;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #787878;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #787878;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #82C202;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #82C202;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #82C202;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #82C202;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #F5A100;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #F5A100;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #F5A100;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #F5A100;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF8300;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF8300;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF8300;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF8300;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #E6242D;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #E6242D;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #E6242D;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #E6242D;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #7B7C7C;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #7B7C7C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #7B7C7C;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #7B7C7C;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}