#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 1349px;
  height: 653px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Group_1 {
  position: absolute;
  top: 26px;
  left: 649px;
  width: 698px;
  height: 42px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 698px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Panel_2 {
  width: 698px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Panel_2 .verticalalign {
  vertical-align: bottom;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Panel_2 .Panel_2 > * {
  margin-right: 7px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Panel_2 .ghostHLayout {
  width: calc(705px);
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_7 {
  width: 55px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_6 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_8 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_9 {
  width: 71px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_3 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_3 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_1 {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_5 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_5 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_4 {
  padding-top: 3px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_4 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_2 {
  padding-top: 3px;
  width: 100px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_2 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_4 {
  position: absolute;
  top: 20px;
  left: -2px;
  width: 184px;
  height: 41px;
  background-color: #6E2C89;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_48 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: 181px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_1 {
  position: absolute;
  top: 138px;
  left: 42px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #0079FF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #0079FF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #0079FF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #0079FF;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_2 {
  position: absolute;
  top: 138px;
  left: 187px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #38C09B;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #38C09B;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #38C09B;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #38C09B;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_3 {
  position: absolute;
  top: 138px;
  left: 332px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #3077B8;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #3077B8;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3077B8;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #3077B8;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_5 {
  position: absolute;
  top: 138px;
  left: 477px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #787878;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #787878;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #787878;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_6 {
  position: absolute;
  top: 138px;
  left: 623px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #82C202;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #82C202;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #82C202;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #82C202;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_7 {
  position: absolute;
  top: 138px;
  left: 768px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #F5A100;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #F5A100;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #F5A100;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #F5A100;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_8 {
  position: absolute;
  top: 138px;
  left: 913px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF8300;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF8300;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF8300;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF8300;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_9 {
  position: absolute;
  top: 138px;
  left: 1058px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #E6242D;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #E6242D;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #E6242D;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #E6242D;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_10 {
  position: absolute;
  top: 137px;
  left: 1202px;
  width: 88px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #7B7C7C;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #7B7C7C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #7B7C7C;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #7B7C7C;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_14 {
  position: absolute;
  top: 145px;
  left: 484px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_18 {
  position: absolute;
  top: 240px;
  left: 491px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_15 {
  position: absolute;
  top: 145px;
  left: 920px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_19 {
  position: absolute;
  top: 240px;
  left: 909px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_16 {
  position: absolute;
  top: 145px;
  left: 1065px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_20 {
  position: absolute;
  top: 240px;
  left: 1051px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_17 {
  position: absolute;
  top: 145px;
  left: 775px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_21 {
  position: absolute;
  top: 240px;
  left: 756px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_21 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_18 {
  position: absolute;
  top: 145px;
  left: 1209px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_22 {
  position: absolute;
  top: 240px;
  left: 1202px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_22 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_19 {
  position: absolute;
  top: 145px;
  left: 49px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_23 {
  position: absolute;
  top: 239px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_23 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_20 {
  position: absolute;
  top: 145px;
  left: 194px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_24 {
  position: absolute;
  top: 238px;
  left: 196px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_24 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_21 {
  position: absolute;
  top: 145px;
  left: 339px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_25 {
  position: absolute;
  top: 239px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_25 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Image_22 {
  position: absolute;
  top: 145px;
  left: 629px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_26 {
  position: absolute;
  top: 240px;
  left: 613px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_26 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_1 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_1 {
  position: absolute;
  top: 129px;
  left: 119px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_1 {
  position: absolute;
  top: 128px;
  left: 122px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_1 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_2 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_2 {
  position: absolute;
  top: 129px;
  left: 264px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_2 {
  position: absolute;
  top: 128px;
  left: 267px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_2 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_3 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_3 {
  position: absolute;
  top: 129px;
  left: 406px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_3 {
  position: absolute;
  top: 128px;
  left: 404px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_3 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_4 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_4 {
  position: absolute;
  top: 129px;
  left: 551px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_4 {
  position: absolute;
  top: 128px;
  left: 554px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_4 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_5 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_5 {
  position: absolute;
  top: 129px;
  left: 696px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_5 {
  position: absolute;
  top: 128px;
  left: 699px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_5 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_6 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_6 {
  position: absolute;
  top: 128px;
  left: 839px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_6 {
  position: absolute;
  top: 127px;
  left: 842px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_6 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_7 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_7 {
  position: absolute;
  top: 128px;
  left: 980px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_7 {
  position: absolute;
  top: 127px;
  left: 983px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_7 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_8 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_8 {
  position: absolute;
  top: 128px;
  left: 1125px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_8 {
  position: absolute;
  top: 127px;
  left: 1128px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_8 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_9 .content {
  width: 24px;
  height: 24px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Ellipse_9 {
  position: absolute;
  top: 129px;
  left: 1273px;
  width: 24px;
  height: 24px;
  background-color: #E6242D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_9 {
  position: absolute;
  top: 128px;
  left: 1276px;
  padding-left: 5px;
  width: 22px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Input_9 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Button_1 {
  position: absolute;
  top: 75px;
  left: 1176px;
  width: 117px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e6c7eed4-c07c-4af4-a794-a03fe16757a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}