#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0088CC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0088CC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0088CC;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 17px;
  width: 112px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Table_2 {
  border-collapse: separate;
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 177px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 34px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 36px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Panel_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_62 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 60px;
  height: 12px;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_63 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 98px;
  height: 12px;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Panel_2 > .valign {
  vertical-align: bottom;
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac #s-Label_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 96px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-e88b67fd-4eeb-465e-8a57-1e7d2ce31dac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}