#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Line_2 {
  rotation: 90.0;
  margin-left: 454px;
  margin-top: -456px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Image_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83) ;
  filter: alpha(opacity=83) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb7e4bb4-66b3-4fc2-b594-85686d8f546a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}